<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>FLASKI - Login</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" type="text/css">

  <link rel="icon" href="{{ url_for('static', filename='dog-solid.png') }}">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center" style="padding-bottom:35px;">
                    <!-- h1 class="h4 text-gray-900 mb-4"><span style="color: rgb(84, 117, 216);"><font size="+30">Flaski</font></span></h1-->
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('login') }}">
                      <font size="+30">
                        <!-- div class="sidebar-brand-icon rotate-n-15"-->
                            <!-- i class="fas fa-laugh-wink"--><!-- /i -->
                        <!-- /div -->
                        <!--div style="padding-right: 0px; padding-left: px;" -->
                            <!--div class="sidebar-brand-icon rotate-n-0">
                                <i class="fas fa-dog"></i>
                            </div-->
                        <!--/div-->
                        <div class="sidebar-brand-text mx-3">FLASKI</div><!--sup>bioinf</sup></div-->
                      </font>
                  </a>
                  </div>

                  <!-- FORM STARTS HERE -->
                  <form class="user" action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                      {{ form.email(size=32) }}
                      {% for error in form.email.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                      <!-- input type="email" class="form-control form-control-user" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." -->
                    </div>
                    <div class="form-group">
                      {{ form.password(size=32) }}
                      {% for error in form.password.errors %}
                      <span style="color: red;">{{ error }}</span>
                      {% endfor %}
                      <!--input type="password" class="form-control form-control-user" id="InputPassword" placeholder="Password"-->
                    </div>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-info" style="background-color: coral;" role="alert">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        {{ form.remember_me() }}
                        <!--input type="checkbox" class="custom-control-input" id="customCheck" -->
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    {{ form.submit() }}
                    <!--a href="index.html" class="btn btn-primary btn-user btn-block">
                      Login
                    </a-->
                    <!--hr-->
                    <!--a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Login with Google
                    </a-->
                    <!--a href="index.html" class="btn btn-facebook btn-user btn-block">
                      <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                    </a-->
                  </form>
                  <!-- FORM FINISHED-->

                  <hr>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('reset_password_request') }}">Forgot Password?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('register') }}">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>

</html>
