<p>Hi {{ user.firstname }},</p>
<p>Welcome!</p>
<p></p>
<p>Thanks for signing up. Please follow this link to activate your account: <a href="{{ url_for('confirm', token=token, _external=True) }}">click here</a>.</p>
<p></p>
<p>Flaski works better on Google Chrome, both on your laptop or on your iPad.</p>
<p></p>
<p>You can find several how-to videos on Flaski's <a href="https://www.youtube.com/channel/UCQCHNHJ23FGyXo9usEC_TbA">YouTube</a> channel.</p>
<p></p>
<p>For documentation please visit Flaski's GitHub <a href="https://bioinformatics.age.mpg.de/flaski">page</a>.</p>
<p></p>
<p>Continuous delivery. To ensure you get the latest updates as soon as possible we rollout changes between <b>04:00 and 05:00 CET</b>. During this time you might experience glitches of a few seconds. Check our releases <a href="https://github.com/mpg-age-bioinformatics/flaski/releases">page</a> if you want to know more about delivered updates.</p>
<p></p>
<p>Cheers!</p>
<p>Sincerely,</p>
<p>Flaski</p>