{% extends "base.html" %}

{% block app_title %}

<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
    <h1 class="h3 mb-0 text-gray-800">Circular Barplots</h1>
</div>

{% endblock %}

{% block apps_dropdown %}
{% for app_ in apps %}
<a class="dropdown-item" href="/{{app_.link}}">{{ app_.name }}</a>
{% endfor %}
{% endblock %}

{% block side_bar_content %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('login') }}">
            <div class="sidebar-brand-icon rotate-n-0">
                <i class="fas fa-dog"></i>
            </div>
        <div class="sidebar-brand-text mx-3">Flaski</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div id="" style="overflow-y:auto;height:calc(100vh - 80px);">

        <form action="{{ url_for('circularbarplots') }}" method="post" enctype="multipart/form-data">

            <!-- -------------------- INPUT FILE SELECTION ---------------------- -->
            <!-- Heading -->
            <div class="sidebar-heading">Input</div>

            <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;" >
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="inputfile" id="inputfile">
                    <label class="custom-file-label" for="inputfile" placeholder="Choose File">{{filename}}</label>
                </div>
            </div>    

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            {% if filename != "Select file.." %}

            <!-- -------------------- SELECT INPUT COLUMNS ---------------------- -->
            <div class="row" style="width:422px;padding-right: 15px; padding-left: 15px; padding-bottom: 15px;white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">

                <div class="column" style="width:33%;">
                    <div class="sidebar-heading">Angular values:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px; padding-bottom: 15px;" >
                        <select title=angcols name=angvals method="GET" action="/" style="width:114px">
                            {% for angcol in angcols %}
                                <option value="{{angcol}}" {% if angcol==angvals %} selected {% endif %}>{{angcol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="column" style="width:33%;">
                    <div class="sidebar-heading" style="padding-left: 6px;">Radial values:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 6px; padding-bottom: 15px;" >
                        <select name=radvals method="GET" action="/" style="width:114px">
                            {% for radcol in radcols %}
                                <option value="{{radcol}}" {% if radcol==radvals %} selected {% endif %}>{{radcol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="column" style="width:33%;">
                    <div class="sidebar-heading" style="padding-left: 6px;">Bar groups:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 10px; padding-left: 6px; padding-bottom: 15px;" >
                        <select name=groupval method="GET" action="/" style="width:114px">
                            {% for group_ in group %}
                                <option value="{{group_}}" {% if group_==groupval %} selected {% endif %}>{{group_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>


            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            Arguments:
            </div>

            <!-- -------------------- FIGURE ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseFigure" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Width: 
                                    <input type="text" name="fig_width" value='{{ fig_width }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label>Height: 
                                    <input type="text" name="fig_height" value='{{ fig_height }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Title: 
                                    <input type="text" name="title" value='{{ title }}' style="width:180px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label> size: 
                                    <select name=titles method="GET" action="/" style="width:50px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for title_size_ in title_size %}
                                            <option value="{{title_size_}}" {% if title_size_==titles %} selected {% endif %}>{{title_size_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Title color: 
                                    <select name=title_color method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for title_colors_ in title_colors %}
                                            <option value="{{title_colors_}}" {% if title_colors_==title_color %} selected {% endif %}>{{title_colors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>
            
            </li>
            

            <!-- -------------------- PLOT ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSetting" aria-expanded="true" aria-controls="collapseSetting" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Plot Settings</span>
                </a>

                <div id="collapseSetting" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Barmode: 
                                    <select name=barmode_val method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for barmode_ in barmode %}
                                            <option value="{{barmode_}}" {% if barmode_==barmode_val %} selected {% endif %}>{{barmode_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                                      
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Bar Normalisation: 
                                    <select name=barnorm_val method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for barnorm_ in barnorm %}
                                            <option value="{{barnorm_}}" {% if barnorm_==barnorm_val %} selected {% endif %}>{{barnorm_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Plot start direction: 
                                    <select name=direction_val method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for direction_ in direction %}
                                            <option value="{{direction_}}" {% if direction_==direction_val %} selected {% endif %}>{{direction_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Plot start angle: 
                                    <input type="text" name="start_angle" value='{{ start_angle }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Plot font size: 
                                    <select name=plot_font method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for plot_fonts_ in plot_font_sizes %}
                                            <option value="{{plot_fonts_}}" {% if plot_fonts_==plot_font %} selected {% endif %}>{{plot_fonts_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Polar bargap 
                                    <select name=polar_bargap method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for polar_bargaps_ in polar_bargaps %}
                                            <option value="{{polar_bargaps_}}" {% if polar_bargaps_==polar_bargap %} selected {% endif %}>{{polar_bargaps_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                                
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Polar background color: 
                                    <select name=polar_bgcolor method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for polar_bgcolors_ in polar_bgcolors %}
                                            <option value="{{polar_bgcolors_}}" {% if polar_bgcolors_==polar_bgcolor %} selected {% endif %}>{{polar_bgcolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Central circle size: 
                                    <select name=polar_hole method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for polar_holes_ in polar_holes %}
                                            <option value="{{polar_holes_}}" {% if polar_holes_==polar_hole %} selected {% endif %}>{{polar_holes_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Paper background color: 
                                    <select name=paper_bgcolor method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for paper_bgcolors_ in paper_bgcolors %}
                                            <option value="{{paper_bgcolors_}}" {% if paper_bgcolors_==paper_bgcolor %} selected {% endif %}>{{paper_bgcolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

            </li>

            <!-- -------------------- BAR COLORS ---------------------- -->
            {% if groupval == "None" %}
                <li class="nav-item" style="padding-bottom: 0px;">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBarColor" aria-expanded="true" aria-controls="collapseBarColor" style="padding-top: 0px;">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>Bar Color</span>
                    </a>
                    <div id="collapseBarColor" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                            <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">

                                <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                    <label>Bar Color: 
                                        <select name=bar_colour_val method="GET" action="/" style="width:100px;vertical-align: middle;">
                                            {% for bar_colours_ in bar_colours %}
                                                <option value="{{bar_colours_}}" {% if bar_colours_==bar_colour_val %} selected {% endif %}>{{bar_colours_}}</option>
                                            {% endfor %}
                                        </select>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            {% endif %}

            {% if groupval != "None" %}
                {% for group_h in groups_settings %}

                    <li class="nav-item" style="padding-bottom: 0px;">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{group_h.name}}" aria-expanded="true" aria-controls="collapse{{group_h.name}}" style="padding-top: 0px;">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Bar Colour: {{group_h.name}}</span>
                        </a>
                        <div id="collapse{{group_h.name}}" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">

                                    <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                        <label>Bar Colour: 
                                            <select name={{group_h.name}}.bar_colour_val method="GET" action="/" style="width:100px;vertical-align: middle;">
                                                {% for bar_colours_ in bar_colours %}
                                                    <option value="{{bar_colours_}}" {% if bar_colours_==group_h.bar_colour_val %} selected {% endif %}>{{bar_colours_}}</option>
                                                {% endfor %}
                                            </select>
                                        </label>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </li>

                {% endfor %}
            {% endif %}

            

                            
                            
             <!-- -------------------- LEGEND ARGUMENTS ---------------------- -->               
                            
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLegend" aria-expanded="true" aria-controls="collapseLegend" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Legend</span>
                </a>

                <div id="collapseLegend" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Legend background color: 
                                    <select name=legend_bgcolor method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for legend_colors_ in legend_colors %}
                                            <option value="{{legend_colors_}}" {% if legend_colors_==legend_bgcolor %} selected {% endif %}>{{legend_colors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Legend border color: 
                                    <select name=legend_bordercolor method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for legend_bordercolor_ in legend_colors %}
                                            <option value="{{legend_bordercolor_}}" {% if legend_bordercolor_==legend_bordercolor %} selected {% endif %}>{{legend_bordercolor_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Legend borderwidth: 
                                    <input type="text" name="legend_borderwidth" value='{{ legend_borderwidth }}' style="width:100px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>
                          
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Legend title font: 
                                    <select name=legend_title_font method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for legend_title_sizes_ in legend_title_sizes %}
                                            <option value="{{legend_title_sizes_}}" {% if legend_title_sizes_==legend_title_font %} selected {% endif %}>{{legend_title_sizes_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Legend text font: 
                                    <select name=legend_text_font method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for legend_text_sizes_ in legend_text_sizes %}
                                            <option value="{{legend_text_sizes_}}" {% if legend_text_sizes_==legend_text_font %} selected {% endif %}>{{legend_text_sizes_}}</option>"
                                        {% endfor %}
                                    </select>
                                </label>  
                            </div>                         
                           
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Legend orientation: 
                                    <select name=legend_orientation method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for legend_orientations_ in legend_orientations %}
                                            <option value="{{legend_orientations_}}" {% if legend_orientations_==legend_orientation %} selected {% endif %}>{{legend_orientations_}}</option>"
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- ANGULAR AXIS ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAngularAxis" aria-expanded="true" aria-controls="collapseAngularAxis" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Angular Axis</span>
                </a>

                <div id="collapseAngularAxis" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">                   

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label><input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="angular_grid" {% if angular_grid=="on" %} checked {% elif angular_grid==".on" %} checked {% endif %}/> Angular grid </label>
                            </div>
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label><input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="angular_line" {% if angular_line=="on" %} checked {% elif angular_line==".on" %} checked {% endif %}/> Angular line </label> 
                            </div>
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">                    
                                <label><input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="angular_ticklabels" {% if angular_ticklabels=="on" %} checked {% elif angular_ticklabels==".on" %} checked {% endif %}/> Angular ticklabels </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular grid color: 
                                    <select name=angular_gridcolor method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for angular_gridcolors_ in angular_gridcolors %}
                                            <option value="{{angular_gridcolors_}}" {% if angular_gridcolors_==angular_gridcolor %} selected {% endif %}>{{angular_gridcolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular gridwidth: 
                                    <input type="text" name="angular_gridwidth" value='{{ angular_gridwidth }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular line color: 
                                    <select name=angular_linecolor method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for angular_linecolors_ in angular_linecolors %}
                                            <option value="{{angular_linecolors_}}" {% if angular_linecolors_==angular_linecolor %} selected {% endif %}>{{angular_linecolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular linewidth: 
                                    <input type="text" name="angular_linewidth" value='{{ angular_linewidth }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular tick color: 
                                    <select name=angular_tickcolor method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for angular_tickcolors_ in angular_tickcolors %}
                                            <option value="{{angular_tickcolors_}}" {% if angular_tickcolors_==angular_tickcolor %} selected {% endif %}>{{angular_tickcolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>


                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular tick length: 
                                    <input type="text" name="angular_ticklen" value='{{ angular_ticklen }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular tick angle: 
                                    <input type="text" name="angular_tickangle" value='{{ angular_tickangle }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular tick width: 
                                    <input type="text" name="angular_tickwidth" value='{{ angular_tickwidth }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>


                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Angular tick direction: 
                                    <select name=angular_ticks method="GET" action="/" style="width:100px;height:22px;padding-left: 4px;vertical-align: middle;">
                                        {% for angular_tickDirections_ in angular_tickDirections %}
                                            <option value="{{angular_tickDirections_}}" {% if angular_tickDirections_==angular_ticks %} selected {% endif %}>{{angular_tickDirections_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <!-- -------------------- RADIAL AXIS ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRadialAxis" aria-expanded="true" aria-controls="collapseRadialAxis" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Radial Axis</span>
                </a>

                <div id="collapseRadialAxis" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label><input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="radial_grid" {% if radial_grid=="on" %} checked {% elif radial_grid==".on" %} checked {% endif %}/> Radial grid </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label><input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="radial_line" {% if radial_line=="on" %} checked {% elif radial_line==".on" %} checked {% endif %}/> Radial line </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label><input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="radial_visibility" {% if radial_visibility=="on" %} checked {% elif radial_visibility==".on" %} checked {% endif %}/> Radial visibility </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label><input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="radial_ticklabels" {% if radial_ticklabels=="on" %} checked {% elif radial_ticklabels==".on" %} checked {% endif %}/> Radial ticklabels </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Radial grid color: 
                                    <select name=radial_gridcolor method="GET" action="/" style="width:100px;height:22px;padding-left:4px;vertical-align: middle;">
                                        {% for radial_gridcolors_ in radial_gridcolors %}
                                            <option value="{{radial_gridcolors_}}" {% if radial_gridcolors_==radial_gridcolor %} selected {% endif %}>{{radial_gridcolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Radial gridwidth: 
                                    <input type="text" name="radial_gridwidth" value='{{ radial_gridwidth }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Radial line color: 
                                    <select name=radial_linecolor method="GET" action="/" style="width:100px;height:22px;padding-left:4px;vertical-align: middle;">
                                        {% for radial_linecolors_ in radial_linecolors %}
                                            <option value="{{radial_linecolors_}}" {% if radial_linecolors_==radial_linecolor %} selected {% endif %}>{{radial_linecolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Radial linewidth: 
                                    <input type="text" name="radial_linewidth" value='{{ radial_linewidth }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Radial angle: 
                                    <input type="text" name="radial_angle" value='{{ radial_angle }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Radial tick angle: 
                                    <input type="text" name="radial_tickangle" value='{{ radial_tickangle }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Radial tick length: 
                                    <input type="text" name="radial_ticklen" value='{{ radial_ticklen }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Radial tick width: 
                                    <input type="text" name="radial_tickwidth" value='{{ radial_tickwidth }}' style="width:56px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>


                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Radial tick color: 
                                    <select name=radial_tickcolor method="GET" action="/" style="width:100px;height:22px;padding-left:4px;vertical-align: middle;">
                                        {% for radial_tickcolors_ in radial_tickcolors %}
                                            <option value="{{radial_tickcolors_}}" {% if radial_tickcolors_==radial_tickcolor %} selected {% endif %}>{{radial_tickcolors_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Radial tick Direction: 
                                    <select name=radial_tickside method="GET" action="/" style="width:100px;height:22px;padding-left:4px;vertical-align: middle;vertical-align: middle;">
                                        {% for radial_ticksides_ in radial_ticksides %}
                                            <option value="{{radial_ticksides_}}" {% if radial_ticksides_==radial_tickside %} selected {% endif %}>{{radial_ticksides_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

     
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="padding-bottom: 12px;">Management:</div>

            {% if figure_url %}

            <!-- -------------------- FIGURE DOWNLOAD ARGUMENTS ---------------------- -->
            
            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseDownload" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>
                                    <input type="text" name="downloadn" value='{{ downloadn }}' style="width:310px;height:30px;padding-left: 4px">
                                </label>
                            </div>   
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> format: <select name=downloadf method="GET" action="/" style="height:30px;width:50px">
                                    {% for download_format_ in download_format %}
                                        <option value="{{download_format_}}" {% if download_format_==downloadf %} selected {% endif %}>{{download_format_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            {% endif %}

            <!-- -------------------- ARGUMENTS DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Arguments</span>
                </a>
                <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Upload arguments file:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;padding-bottom: 8px;">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputargumentsfile" placeholder="Choose File">{{ inputargumentsfile }}</label>
                                    <label>
                                        <input type="file" class="custom-file-input" name="inputargumentsfile" id="inputargumentsfile" style="width:310px;height: 30px;vertical-align: middle;">
                                    </label>
                                </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>
                                    <input type="text" name="session_argumentsn" value='{{ session_argumentsn }}' style="width:310px;height:30px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- SESSION DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession" style="padding-top:0px;">
                    <i class="fas fa-fw fa-th" aria-hidden="true"></i>
                    <span>Session</span>
                </a>
                <div id="collapseSession" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Upload session file:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;padding-bottom: 8px;">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputsessionfile" placeholder="Choose File">{{ inputsessionfile }}</label>
                                    <label>
                                        <input type="file" class="custom-file-input" name="inputsessionfile" id="inputsessionfile" style="width:310px;height: 30px;vertical-align: middle;">
                                    </label>
                                </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>  
                                    <input type="text" style="width:310px;height:30px;padding-left:4px;vertical-align: middle;" name="session_downloadn" value='{{ session_downloadn }}'>
                                </label>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            

            <!-- -------------------- SUBMIT ---------------------- -->

            <div style="padding-right: 15px; padding-left: 15px;" >
            <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Submit" />
            </div>
        </form>

                <!-- Divider -->
        <!--hr class="sidebar-divider d-none d-md-block"-->
    </div>
    
      <!-- Sidebar Toggler (Sidebar) -->
      <!-- div class="text-center d-none d-md-inline" -->
        <!-- button class="rounded-circle border-0" id="sidebarToggle"></button -->
      <!-- /div -->

</ul>

{% endblock %}

<!-- -------------------- MAIN BODY AND FIGURE ---------------------- -->

{% block content %}
<div class="container-fluid">



    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Attention</font></h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: coral; color:black" role="alert">{{ message }}</div-->

        {% elif category == "traceback" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Whoops!</font></h6>
            </div>
            <div class="card-body">
                {% autoescape false %}
                {{ message }}
                <br>Something went wrong. Review your input and press <b>Submit</b>.<br><br>We have been notified that something is wrong and will investigate the source of this issue. 
                If you would like help with this particular case please press <b>Ice cream</b> to share your session data and parameters with us.<br>
                <br>
                {% endautoescape %}

                <form id="askforhelp" action="{{ url_for('askforhelp') }}" method="post" enctype="multipart/form-data">
                    <div class="pull-xs-right" style="float:right;">
                        <div class="btn-group" style="float:right;">
                            <button type="submit" class="btn btn-primary" style="float:right;">
                                <i></i> Ice cream
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        {% else %}
        <!-- INFORMATION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: rgb(148,224,153); color:black" role="alert">{{ message }}</div-->
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if figure_url %}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

        <div class="chart" id="circularbarplots" style="overflow-y:auto;height:calc(100vh - 195px);overflow-x:auto;">
            <script>
                var graphs = {{figure_url | safe}};
                Plotly.plot('circularbarplots',graphs,{});
            </script>

        <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
            <div style="padding-right: 2px;">
                <form action="{{ url_for('circularbarplots', download='download') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="fas fa-download fa-sm text-white-50"></i> Figure
                    </button>
                </form>
            </div>

            <div style="padding-left: 2px;padding-right: 2px;">
                <form action="{{ url_for('download', json_type='arg') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                    </button>
                </form>
            </div>

            <div style="padding-left: 2px;">
                <form action="{{ url_for('download', json_type='ses') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-th fa-sm text-white-50"></i> Session
                    </button>
                </form>
            </div>

        </div>
        </div>
        

    {% endif %}
</div>

{% endblock %}



{% block in_app_footer %}
<!-- Footer -->
<footer class="sticky-footer bg-white" style="padding-top:0.5;padding-bottom:0.5;">
    <div class="container my-auto" style="padding-top:2;padding-bottom:2;">
        <div class="copyright text-center my-auto" style="padding-top:2;padding-bottom:2;">
        <span>Copyright &copy; Flaski, The Bioinformatics Core Facility of the Max Planck Institute for Biology of Ageing</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
{% endblock %}