{% extends "base.html" %}

{% block app_title %}

<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
    <h1 class="h3 mb-0 text-gray-800">iCell plot</h1>
</div>

{% endblock %}

{% block apps_dropdown %}
{% for app_ in apps %}
<a class="dropdown-item" href="/{{app_.link}}">{{ app_.name }}</a>
{% endfor %}
{% endblock %}

{% block side_bar_content %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('login') }}">
        <!-- div class="sidebar-brand-icon rotate-n-15"-->
            <!-- i class="fas fa-laugh-wink"--><!-- /i -->
        <!-- /div -->
        <!--div style="padding-right: 0px; padding-left: px;" -->
            <div class="sidebar-brand-icon rotate-n-0">
                <i class="fas fa-dog"></i>
            </div>
        <!--/div-->
        <div class="sidebar-brand-text mx-3">Flaski</div><!--sup>bioinf</sup></div-->
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div id="" style="overflow-y:auto;height:calc(100vh - 80px);">

        <form action="{{ url_for('icellplot') }}" method="post" enctype="multipart/form-data">

            <!-- -------------------- INPUT FILE SELECTION ---------------------- -->
            <!-- Heading -->
            <div class="sidebar-heading">DAVID output file:</div>

            <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="inputfile" id="inputfile">
                    <label class="custom-file-label" for="inputfile" placeholder="Choose File">{{filename}}</label>
                </div>
            </div>              

            {% if filename != "Select file.." %}

            <!-- -------------------- SELECT INPUT COLUMNS ---------------------- -->
            <div class="row" style="padding-right: 15px; padding-left: 15px;padding-top:15px">
                <div class="column">
                    <div class="sidebar-heading">Terms column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px;" >
                        <select title=terms_column name=terms_column method="GET" action="/" style="width:365px;">
                            {% for david_cols_ in david_cols %}
                                <option value="{{david_cols_}}" {% if david_cols_==terms_column %} selected {% endif %}>{{david_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-right: 15px; padding-left: 15px;padding-top:5px">
                <div class="column">
                    <div class="sidebar-heading">Gene ids column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px;" >
                        <select title=david_gene_ids name=david_gene_ids method="GET" action="/" style="width:365px;">
                            {% for david_cols_ in david_cols %}
                                <option value="{{david_cols_}}" {% if david_cols_==david_gene_ids %} selected {% endif %}>{{david_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-right:15px;padding-left:15px;padding-top:5px;">
                <div class="column">
                    <div class="sidebar-heading">x-axis values column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px; padding-left:15px;" >
                        <select title=plotvalue name=plotvalue method="GET" action="/" style="width:365px;">
                            {% for david_cols_ in david_cols %}
                                <option value="{{david_cols_}}" {% if david_cols_==plotvalue %} selected {% endif %}>{{david_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="sidebar-heading" style="padding-right:0px;padding-top:5px;padding-bottom:0px;">-log10(x-axis): </div><div style="padding-left:4px;padding-top:4px;padding-bottom:0px;" class="sidebar-heading"><input type="checkbox" name="log10transform" {% if log10transform=="on" %} checked {% elif log10transform==".on" %} checked {% endif %}/></div>
            </div>

            <div class="row" style="padding-right:15px;padding-left:15px;padding-top:7px;padding-bottom:10px;">
                <div class="column">
                    <div class="sidebar-heading">Categories column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px; padding-left:15px;" >
                        <select title=categories_column name=plotvalue method="GET" action="/" style="width:365px;">
                            {% for david_cols_ in david_cols %}
                                <option value="{{david_cols_}}" {% if david_cols_==categories_column %} selected {% endif %}>{{david_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            {% if categories_column != "select a column.." %}
            <div class="row" style="padding-right:15px;padding-left:15px;padding-top:0px;padding-bottom:10px;">
                <div class="column" >
                    <div class="sidebar-heading">Categories to plot:</div>
                    <div style="padding-left:15px;">
                        <select name="categories_to_plot_value" method="GET" action="/" class="js-example-basic-multiple" multiple="multiple" tabindex="4" style="width:364px;">
                            {% for categories_to_plot_ in categories_to_plot %}
                                <option value="{{categories_to_plot_}}" {% if categories_to_plot_ in categories_to_plot_value %} selected {% endif %}>{{categories_to_plot_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row" style="padding-right: 15px; padding-left: 15px;padding-top:0px">
                <div class="column">
                    <div class="sidebar-heading">Gene expression annotation column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px;" >
                        <select title=david_gene_ids name=annotation_column_value method="GET" action="/" style="width:365px;">
                            {% for david_cols_ in annotation_column %}
                                <option value="{{david_cols_}}" {% if david_cols_==annotation_column_value %} selected {% endif %}>{{david_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-right: 15px; padding-left: 15px;padding-top:5px;padding-bottom:15px">
                <div class="column">
                    <div class="sidebar-heading">Gene names annotation column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px;" >
                        <select title=david_gene_ids name=annotation2_column_value method="GET" action="/" style="width:365px;">
                            {% for david_cols_ in annotation_column %}
                                <option value="{{david_cols_}}" {% if david_cols_==annotation2_column_value %} selected {% endif %}>{{david_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            {% endif %}

            <hr class="sidebar-divider">

            <div class="sidebar-heading">Gene expression output file:</div>
            <div class="input-group margin-bottom-sm" style="padding-right:15px; padding-left:15px;" >
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="ge_inputfile" id="ge_inputfile">
                    <!--label id="inputfilelabel" class="custom-file-label" for="inputfile" placeholder="Choose File"></label-->
                    <label class="custom-file-label" for="ge_inputfile" placeholder="Choose File">{{ge_filename}}</label>
                </div>
                <!--span class="input-group-addon"><i class="fa fa-file-o fa-2x" style="padding-right: 6px; padding-left: 6px; padding-top: 2px; padding-bottom: 2px;"></i></span-->
                <!--input class="form-control" type="text" placeholder="input file"-->
            </div>  

            {% if ge_filename != "Select file.." %}

            <!-- -------------------- SELECT INPUT COLUMNS ---------------------- -->
            <div class="row" style="padding-right:15px;padding-left:15px;padding-top:15px">
                <div class="column">
                    <div class="sidebar-heading">Gene ids column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;" >
                        <select title=gene_identifier name=gene_identifier method="GET" action="/" style="width:365px;">
                            {% for ge_cols_ in ge_cols %}
                                <option value="{{ge_cols_}}" {% if ge_cols_==gene_identifier %} selected {% endif %}>{{ge_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-right:15px;padding-left:15px;padding-top:5px">
                <div class="column">
                    <div class="sidebar-heading">Expression values column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;" >
                        <select title=expression_values name=expression_values method="GET" action="/" style="width:365px;">
                            {% for ge_cols_ in ge_cols %}
                                <option value="{{ge_cols_}}" {% if ge_cols_==expression_values %} selected {% endif %}>{{ge_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-right:15px;padding-left:15px;padding-top:5px;padding-bottom:15px;">
                <div class="column">
                    <div class="sidebar-heading">Gene names column:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;" >
                        <select title=gene_name name=gene_name method="GET" action="/" style="width:365px;">
                            {% for ge_cols_ in ge_cols %}
                                <option value="{{ge_cols_}}" {% if ge_cols_==gene_name %} selected {% endif %}>{{ge_cols_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">


            {% if filename != "Select file.."  %}

            <!-- Heading -->
            <div class="sidebar-heading">
            Arguments:
            </div>

            <!-- -------------------- FIGURE ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseFigure" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Width: 
                                    <input type="text" name="width" value='{{ width }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label>Height: 
                                    <input type="text" name="height" value='{{ height }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Title: 
                                    <input type="text" name="title" value='{{ title }}' style="width:180px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label> size: 
                                    <input type="text" name="title_font_size" value='{{ title_font_size }}' style="width:50px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- PLOT ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlot" aria-expanded="true" aria-controls="collapsePlot" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Plot</span>
                </a>
                <div id="collapsePlot" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Annotation bars with n. terms:
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="write_n_terms" {% if write_n_terms=="on" %} checked {% elif write_n_terms==".on" %} checked {% endif %}/>
                                </label>
                                <label> size: 
                                    <input type="text" name="annotation_size" value='{{ annotation_size }}' style="width:40px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Reverse rows order:
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="reverse_y_order" {% if reverse_y_order=="on" %} checked {% elif reverse_y_order==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>CMAP: 
                                    <select name=color_scale_value method="GET" action="/" style="width:180px;"> 
                                        {% for colorscale_ in color_scale %}
                                            <option value="{{colorscale_}}" {% if colorscale_==color_scale_value %} selected {% endif %}>{{colorscale_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>reverse:
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="reverse_color_scale" {% if reverse_color_scale=="on" %} checked {% elif reverse_color_scale==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Set the continuous color midpoint:
                                    <input type="text" name="color_continuous_midpoint" value='{{ color_continuous_midpoint }}' style="width:83px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>.. or the color scale percentile (0-100): </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label >lower:
                                    <input type="text" name="lower_expression_percentile" value='{{ lower_expression_percentile }}' style="width:98px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                <label>upper:
                                    <input type="text" name="upper_expression_percentile" value='{{ upper_expression_percentile }}' style="width:98px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label >..or, explicitly define your color map:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <div class="column" style="width:17%;">
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>Lower</label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>Center</label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>Upper</label>
                                </div>  
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <div class="column" style="width:17%;">
                                <label>Value:</label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>
                                    <input type="text" name="lower_value" value='{{ lower_value }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>
                                    <input type="text" name="center_value" value='{{ center_value }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>
                                    <input type="text" name="upper_value" value='{{ upper_value }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <div class="column" style="width:17%;">
                                <label>Color:</label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>
                                    <input type="text" name="lower_color" value='{{ lower_color }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>
                                    <input type="text" name="center_color" value='{{ center_color }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                                <div class="column" style="width:27%;text-align:center;">
                                <label>
                                    <input type="text" name="upper_color" value='{{ upper_color }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Color bar title: 
                                    <input type="text" name="color_bar_title" value='{{ color_bar_title }}' style="width:133px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> size: 
                                    <input type="text" name="color_bar_title_font_size" value='{{ color_bar_title_font_size }}' style="width:50px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            
                                <label>Tick font size: 
                                    <input type="text" name="color_bar_tickfont" value='{{ color_bar_tickfont }}' style="width:50px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>width: 
                                    <input type="text" name="color_bar_tickwidth" value='{{ color_bar_tickwidth }}' style="width:50px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                <label>length: 
                                    <input type="text" name="color_bar_ticklen" value='{{ color_bar_ticklen }}' style="width:50px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Y-Axis line:
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="yaxis_line" {% if yaxis_line=="on" %} checked {% elif yaxis_line==".on" %} checked {% endif %}/>
                                </label>
                                <label>mirror line:
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="rightyaxis_line" {% if rightyaxis_line=="on" %} checked {% elif rightyaxis_line==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>X-Axis line:
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="xaxis_line" {% if xaxis_line=="on" %} checked {% elif xaxis_line==".on" %} checked {% endif %}/>
                                </label>
                                <label>positon: 
                                    <select name=xaxis_side method="GET" action="/" style="width:65px;vertical-align: middle;"> 
                                        {% for xaxis_side_ in xaxis_side_opt %}
                                            <option value="{{xaxis_side_}}" {% if xaxis_side_==xaxis_side %} selected {% endif %}>{{xaxis_side_}}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>mirror line:
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="topxaxis_line" {% if topxaxis_line=="on" %} checked {% elif topxaxis_line==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Lines width:  
                                    <input type="text" name="yaxis_linewidth" value='{{ yaxis_linewidth }}' style="width:38px;height:22px;padding-left:4px">
                                </label>
                            </div>
                            <!-- <label style="padding-left:28px;">width: <input type="text" name="xaxis_linewidth" value='{{ xaxis_linewidth }}' style="width:38px;height:22px;padding-left:4px"></label> -->

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>X-Axis label:
                                </label>
                                <label>
                                    <input type="text" name="xaxis_label" value='{{ xaxis_label }}' style="width:226px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Y-Axis label:
                                </label>
                                <label>
                                    <input type="text" name="yaxis_label" value='{{ yaxis_label }}' style="width:226px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <div class="column" style="width:33%;">
                                <label>Labels font size: </label>
                                </div>
                                <div class="column" style="width:33%;text-align:right;">
                                <label>Y: 
                                    <input type="text" name="yaxis_label_size" value='{{ yaxis_label_size }}' style="width:38px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                                <div class="column" style="width:33%;text-align:right;">
                                <label>X: 
                                    <input type="text" name="xaxis_label_size" value='{{ xaxis_label_size }}' style="width:38px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <div class="column" style="width:33%;">
                                <label>Font size: </label>
                                </div>
                                <div class="column" style="width:33%;text-align:right;">
                                <label>Y-Axis: 
                                    <input type="text" name="yaxis_font_size" value='{{ yaxis_font_size }}' style="width:38px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                                <div class="column" style="width:33%;text-align:right;">
                                <label>X-Axis: 
                                    <input type="text" name="xaxis_font_size" value='{{ xaxis_font_size }}' style="width:38px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                </div>
                            </div>
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <div class="column" style="width:33%;">
                                    <label>X-Axis tick: </label>
                                </div>
                                <div class="column" style="width:33%;text-align:right;">
                                    <label>width:
                                        <input type="text" name="xaxis_tickwidth" value='{{ xaxis_tickwidth }}' style="width:2.8em;height:1.6em;padding-left:0.25em;vertical-align: middle;">
                                    </label>
                                </div>
                                <div class="column" style="width:33%;text-align:right;">
                                    <label>length: 
                                        <input type="text" name="xaxis_ticklen" value='{{ xaxis_ticklen }}' style="width:2.8em;height:1.6em;padding-left:0.25em;vertical-align: middle;">
                                    </label>
                                </div>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Grid: 
                                    <input type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="grid" {% if grid=="on" %} checked {% elif grid==".on" %} checked {% endif %}/>
                                </label>
                                <label>N terms to plot: 
                                    <input type="text" name="number_of_terms" value='{{ number_of_terms }}' style="width:38px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
          
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="padding-bottom:12px;">Management:</div>

            {% if figure_url %}

            <!-- -------------------- FIGURE DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseDownload" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>
                                    <input type="text" name="downloadn" value='{{ downloadn }}' style="width:310px;height:30px;padding-left: 4px">
                                </label>
                            </div>   
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> format: <select name=downloadf method="GET" action="/" style="height:30px;width:50px">
                                    {% for download_format_ in download_format %}
                                        <option value="{{download_format_}}" {% if download_format_==downloadf %} selected {% endif %}>{{download_format_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            {% endif %}

            <!-- -------------------- ARGUMENTS DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Arguments</span>
                </a>
                <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Upload arguments file:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;padding-bottom: 8px;">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputargumentsfile" placeholder="Choose File">{{ inputargumentsfile }}</label>
                                    <label>
                                        <input type="file" class="custom-file-input" name="inputargumentsfile" id="inputargumentsfile" style="width:310px;height: 30px;vertical-align: middle;">
                                    </label>
                                </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <input type="text" name="session_argumentsn" value='{{ session_argumentsn }}' style="width:310px;height:30px;padding-left:4px;vertical-align: middle;">
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- SESSION DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession" style="padding-top:0px;">
                    <i class="fas fa-fw fa-th" aria-hidden="true"></i>
                    <span>Session</span>
                </a>
                <div id="collapseSession" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="width:340px;padding-left:6%;padding-right:0%;justify-content:center">
                        <div class="row arguments" style="width:100%; padding-left:0%; padding-right:0%; white-space:nowrap; overflow-x:auto;display:flex;justify-content:center;text-align:center;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Upload session file:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;padding-bottom: 8px;">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputsessionfile" placeholder="Choose File">{{ inputsessionfile }}</label>
                                    <label>
                                        <input type="file" class="custom-file-input" name="inputsessionfile" id="inputsessionfile" style="width: 310px;height: 30px;vertical-align: middle;">
                                    </label>
                                </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <input type="text" style="width:310px;height:30px;padding-left:4px;vertical-align: middle;" name="session_downloadn" value='{{ session_downloadn }}'>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            

            <!-- -------------------- SUBMIT ---------------------- -->

            <div style="padding-right: 15px; padding-left: 15px;" >
            <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Submit" />
            </div>
        </form>

                <!-- Divider -->
        <!--hr class="sidebar-divider d-none d-md-block"-->
    </div>
    
      <!-- Sidebar Toggler (Sidebar) -->
      <!-- div class="text-center d-none d-md-inline" -->
        <!-- button class="rounded-circle border-0" id="sidebarToggle"></button -->
      <!-- /div -->

</ul>

{% endblock %}

<!-- -------------------- MAIN BODY AND FIGURE ---------------------- -->

{% block content %}
<div class="container-fluid">



    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Attention</font></h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: coral; color:black" role="alert">{{ message }}</div-->
        {% elif category == "traceback" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Whoops!</font></h6>
            </div>
            <div class="card-body">
                {% autoescape false %}
                {{ message }}
                <br>Something went wrong. Review your input and press <b>Submit</b>.<br><br>We have been notified that something is wrong and will investigate the source of this issue. 
                If you would like help with this particular case please press <b>Ice cream</b> to share your session data and parameters with us.<br>
                <br>
                {% endautoescape %}

                <form id="askforhelp" action="{{ url_for('askforhelp') }}" method="post" enctype="multipart/form-data">
                    <div class="pull-xs-right" style="float:right;">
                        <div class="btn-group" style="float:right;">
                            <button type="submit" class="btn btn-primary" style="float:right;">
                                <i></i> Ice cream
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <!-- INFORMATION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: rgb(148,224,153); color:black" role="alert">{{ message }}</div-->
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if figure_url %}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

        <div class="chart" id="cellplot" style="overflow-y:auto;height:calc(100vh - 195px);overflow-x:auto;">
            <script>
                var graphs = {{figure_url | safe}};
                Plotly.plot('cellplot',graphs,{});
            </script>


        <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
            <div style="padding-right: 2px;">
                <form action="{{ url_for('icellplot', download='download') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="fas fa-download fa-sm text-white-50"></i> Figure
                    </button>
                </form>
            </div>

            <div style="padding-left: 2px;padding-right: 2px;">
                <form action="{{ url_for('download', json_type='arg') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                    </button>
                </form>
            </div>

            <div style="padding-left: 2px;">
                <form action="{{ url_for('download', json_type='ses') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-th fa-sm text-white-50"></i> Session
                    </button>
                </form>
            </div>

        </div>
        </div>

    {% endif %}
</div>

{% endblock %}



{% block in_app_footer %}
<!-- Footer -->
<footer class="sticky-footer bg-white" style="padding-top:0.5;padding-bottom:0.5;">
    <div class="container my-auto" style="padding-top:2;padding-bottom:2;">
        <div class="copyright text-center my-auto" style="padding-top:2;padding-bottom:2;">
        <span>Copyright &copy; Flaski, The Bioinformatics Core Facility of the Max Planck Institute for Biology of Ageing</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
{% endblock %}
