{% extends "base.html" %}

{% block app_title %}

<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
    <h1 class="h3 mb-0 text-gray-800">iHeatmap</h1>
</div>

{% endblock %}

{% block apps_dropdown %}
{% for app_ in apps %}
<a class="dropdown-item" href="/{{app_.link}}">{{ app_.name }}</a>
{% endfor %}
{% endblock %}

{% block side_bar_content %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('login') }}">
        <!-- div class="sidebar-brand-icon rotate-n-15"-->
            <!-- i class="fas fa-laugh-wink"--><!-- /i -->
        <!-- /div -->
        <!--div style="padding-right: 0px; padding-left: px;" -->
            <div class="sidebar-brand-icon rotate-n-0">
                <i class="fas fa-dog"></i>
            </div>
        <!--/div-->
        <div class="sidebar-brand-text mx-3">Flaski</div><!--sup>bioinf</sup></div-->
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div id="" style="overflow-y:auto;height:calc(100vh - 80px);">

        <form action="{{ url_for('iheatmap') }}" method="post" enctype="multipart/form-data">

            <!-- -------------------- INPUT FILE SELECTION ---------------------- -->
            <!-- Heading -->
            <div class="sidebar-heading">Input</div>

            <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;" >
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="inputfile" id="inputfile">
                    <!--label id="inputfilelabel" class="custom-file-label" for="inputfile" placeholder="Choose File"></label-->
                    <label class="custom-file-label" for="inputfile" placeholder="Choose File">{{filename}}</label>
                </div>
                <!--span class="input-group-addon"><i class="fa fa-file-o fa-2x" style="padding-right: 6px; padding-left: 6px; padding-top: 2px; padding-bottom: 2px;"></i></span-->
                <!--input class="form-control" type="text" placeholder="input file"-->
            </div>    

            <!-- Divider -->
            <hr class="sidebar-divider">

            {% if filename != "Select file.." %}

            <!-- -------------------- SELECT INPUT COLUMNS ---------------------- -->
            <div class="row" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px;">

                <div class="column">
                    <div class="sidebar-heading">Row names:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px; padding-bottom: 15px;" >
                        <select title=xcols name=xvals method="GET" action="/" style="height:33px;width:365px">
                            {% for xcol in xcols %}
                                <option value="{{xcol}}" {% if xcol==xvals %} selected {% endif %}>{{xcol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!--div class="column">
                    <div class="sidebar-heading">Data columns:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;padding-bottom:15px;" >
                        <select multiple name=yvals method="GET" action="/" style="width:365px">
                            {% for ycol in ycols %}
                                <option value="{{ycol}}" {% if ycol in yvals %} selected {% endif %}>{{ycol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div-->

                <div class="row" style="padding-right:15px;padding-left:13px;padding-top:0px;padding-bottom:10px;">
                    <div class="column" >
                        <div class="sidebar-heading">Data columns:</div>
                        <div style="padding-left:13px;">
                            <select name="yvals" method="GET" action="/" class="js-example-basic-multiple" multiple="multiple" tabindex="4" style="width:364px;">
                                {% for ycol in ycols %}
                                    <option value="{{ycol}}" {% if ycol in yvals %} selected {% endif %}>{{ycol}}</option>
                                {% endfor %}  
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-right:15px;padding-left:13px;padding-top:0px;padding-bottom:10px;">
                    <div class="column" >
                        <div class="sidebar-heading">Rows:</div>
                        <div style="padding-left:13px;">
                            <select name="findrow" method="GET" action="/" class="js-example-basic-multiple" multiple="multiple" tabindex="4" style="height:33px;width:364px;">
                                {% for available_rows_ in available_rows %}
                                    <option value="{{available_rows_}}" {% if available_rows_ in findrow %} selected {% endif %}>{{available_rows_}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <!--label style="padding-left:0px;padding-right:8px;"> Row name(s): </label><textarea type="text" name="findrow" value='{{ findrow }}' rows="3" cols="30" style="width:200px;height:22px;padding-left:4px;">{{ findrow }}</textarea-->


                <!--div class="column">
                    <div class="sidebar-heading" style="padding-left: 6px;">Groups:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 10px; padding-left: 6px; padding-bottom: 15px;" >
                        <select name=groups_value method="GET" action="/" style="width:114px">
                            {% for groups_ in groups %}
                                <option value="{{groups_}}" {% if groups_==groups_value %} selected {% endif %}>{{groups_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div-->


            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            Arguments:
            </div>

            <!-- -------------------- FIGURE ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseFigure" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Width:
                                    <input type="text" name="fig_width" value='{{ fig_width }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label>Height:
                                    <input type="text" name="fig_height" value='{{ fig_height }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>


                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Title: 
                                    <input type="text" name="title" value='{{ title }}' style="width:180px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label> size:
                                    <select name=title_size_value method="GET" action="/" style="width:50px;vertical-align: middle;">
                                    {% for title_size_ in title_size %}
                                        <option value="{{title_size_}}" {% if title_size_==title_size_value %} selected {% endif %}>{{title_size_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- Clustering ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClustering" aria-expanded="true" aria-controls="collapseClustering" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Cluster</span>
                </a>
                <div id="collapseClustering" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Columns cluster
                                    <input type="checkbox" type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="col_cluster" {% if col_cluster=="on" %} checked {% elif col_cluster==".on" %} checked {% endif %}/>
                                </label>
                                <label>Row cluster 
                                    <input type="checkbox" type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="row_cluster" {% if row_cluster=="on" %} checked {% elif row_cluster==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Method:
                                    <select name=method_value method="GET" action="/" style="width:78px;vertical-align: middle;">
                                    {% for method_ in method %}
                                        <option value="{{method_}}" {% if method_==method_value %} selected {% endif %}>{{method_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>

                                <label> Distance: 
                                    <select name=distance_value method="GET" action="/" style="width:98px;vertical-align: middle;">
                                    {% for distance_ in distance %}
                                        <option value="{{distance_}}" {% if distance_==distance_value %} selected {% endif %}>{{distance_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Cluster distance values:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:flex-start; text-align:justify;">
                                <label>columns
                                    <input type="checkbox" type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="col_dendogram_dist" {% if col_dendogram_dist=="on" %} checked {% elif col_dendogram_dist==".on" %} checked {% endif %}/>
                                </label>
                                <label style="padding-left: 8px;">rows
                                    <input type="checkbox" type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="row_dendogram_dist" {% if row_dendogram_dist=="on" %} checked {% elif row_dendogram_dist==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Distance cuttoff for cluster defenition:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>columns:
                                    <input type="text" name="col_color_threshold" value='{{ col_color_threshold }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label>rows:
                                    <input type="text" name="row_color_threshold" value='{{ row_color_threshold }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Dendogram-to-figure ratio:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>columns:
                                    <input type="text" name="row_dendogram_ratio" value='{{ row_dendogram_ratio }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label>rows:
                                    <input type="text" name="col_dendogram_ratio" value='{{ col_dendogram_ratio }}' style="width:98px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>
                        </div>
        
                    </div>
                </div>
            </li>


            <!-- -------------------- PLOT ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlot" aria-expanded="true" aria-controls="collapsePlot" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Plot</span>
                </a>
                <div id="collapsePlot" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label style="width:250px;">Data transformation:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>add constant: 
                                    <input type="text" name="add_constant" value='{{ add_constant }}' style="width:50px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>log transform: 
                                    <select name=log_transform_value method="GET" action="/" style="vertical-align: middle;">
                                    {% for log_transform_ in log_transform %}
                                        <option value="{{log_transform_}}" {% if log_transform_==log_transform_value %} selected {% endif %}>{{log_transform_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>

                                <label>z-score: 
                                    <select name=zscore_value method="GET" action="/" style="vertical-align: middle;">
                                    {% for zscore_ in zscore %}
                                        <option value="{{zscore_}}" {% if zscore_==zscore_value %} selected {% endif %}>{{zscore_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> Robustness percentil (0 - 100):
                                    <input type="text" name="robust" value='{{ robust }}' style="width:109px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px;padding-left:0%;padding-right:0%;display:flex;justify-content:center;text-align:justify;">
                                <hr class="black">
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Show labels: </label>
                                <label> columns:
                                    <input type="checkbox" type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="yticklabels" {% if yticklabels=="on" %} checked {% elif yticklabels==".on" %} checked {% endif %}/>
                                </label>
                                <label> rows:
                                    <input type="checkbox" type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="xticklabels" {% if xticklabels=="on" %} checked {% elif xticklabels==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Labels font size: </label>
                                <label> columns: 
                                    <input type="text" name="yaxis_font_size" value='{{ yaxis_font_size }}' style="width:28px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                <label> rows:
                                    <input type="text" name="xaxis_font_size" value='{{ xaxis_font_size }}' style="width:28px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>


                            <div class="row arg" style="width:310px;padding-left:0%;padding-right:0%;display:flex;justify-content:center;text-align:justify;">
                                <hr class="black">
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:flex-start; text-align:justify;">
                                <label>CMAP:
                                    <select name=colorscale_value method="GET" action="/" style="vertical-align: middle;">
                                    {% for colorscale_ in colorscale %}
                                        <option value="{{colorscale_}}" {% if colorscale_==colorscale_value %} selected {% endif %}>{{colorscale_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>

                                <label style="padding-left: 8px;">reverse:
                                    <input type="checkbox" type="checkbox" style="vertical-align:middle;height:16px;width:16px;" name="reverse_color_scale" {% if reverse_color_scale=="on" %} checked {% elif reverse_color_scale==".on" %} checked {% endif %}/>
                                </label>
                            </div>

                            <!--label style="padding-right:40px;">.. or the color scale percentile (0-100): </label>
                            <label style="padding-right:4px;">lower:</label><label><input type="text" name="lower_expression_percentile" value='{{ lower_expression_percentile }}' style="width:100px;height:22px;padding-left:4px;"></label>
                            <label style="padding-left:12px;padding-right:4px;">upper:</label><label><input type="text" name="upper_expression_percentile" value='{{ upper_expression_percentile }}' style="width:101px;height:22px;padding-left:4px;"></label-->

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>..or, explicitly define your color map:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label style="padding-left: 6px;"></label>
                                <label>Lower</label>
                                <label>Center</label>
                                <label>Upper</label>
                            </div>
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Value:</label>
                                <label>
                                    <input type="text" name="lower_value" value='{{ lower_value }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                <label>
                                    <input type="text" name="center_value" value='{{ center_value }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                <label>
                                    <input type="text" name="upper_value" value='{{ upper_value }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                
                            </div>
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Color:</label>
                                <label>
                                    <input type="text" name="lower_color" value='{{ lower_color }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                <label>
                                    <input type="text" name="center_color" value='{{ center_color }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                                <label>
                                    <input type="text" name="upper_color" value='{{ upper_color }}' style="width:65px;height:22px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>


                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Color bar: </label>
                            </div>
                            
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>label: 
                                    <input type="text" name="color_bar_label" value='{{ color_bar_label }}' style="width:270px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>label font size:
                                    <input type="text" name="color_bar_font_size" value='{{ color_bar_font_size }}' style="width:50px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                                <label>tickts font size:
                                    <input type="text" name="color_bar_ticks_font_size" value='{{ color_bar_ticks_font_size }}' style="width:50px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>padding:
                                    <input type="text" name="color_bar_horizontal_padding" value='{{ color_bar_horizontal_padding }}' style="width:50px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>
                            <!--label style="padding-left:0x;padding-right:4px;width:150px;"><input type="checkbox" name="annotate" {% if annotate=="on" %} checked {% elif annotate==".on" %} checked {% endif %}/> Annotate</label-->

                        </div>
                    </div>
                </div>
            </li>

            <!-- -------------------- FIND ROWS ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFindRow" aria-expanded="true" aria-controls="collapseFindRow" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Find rows</span>
                </a>
                <div id="collapseFindRow" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">

                            <!--label style="padding-left:0px;padding-right:8px;"> Row name(s): </label><textarea type="text" name="findrow" value='{{ findrow }}' rows="3" cols="30" style="width:200px;height:22px;padding-left:4px;">{{ findrow }}</textarea-->
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Find related rows: </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label> bound type:
                                    <select name=findrowtype_value method="GET" action="/" style="vertical-align: middle;">
                                    {% for findrowtype_ in findrowtype %}
                                        <option value="{{findrowtype_}}" {% if findrowtype_==findrowtype_value %} selected {% endif %}>{{findrowtype_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>lower distance bounds: 
                                    <input type="text" name="findrowdown" value='{{ findrowdown }}' style="width:86px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>upper distance bounds: 
                                    <input type="text" name="findrowup" value='{{ findrowup }}' style="width:86px;height:22px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            

            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="padding-bottom:12px;">Management:</div>

            {% if figure_url %}

            <!-- -------------------- FIGURE DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseDownload" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>
                                    <input type="text" name="downloadn" value='{{ downloadn }}' style="width:310px;height:30px;padding-left: 4px;vertical-align: middle;">
                                </label>
                            </div> 

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>format:
                                    <select name=downloadf method="GET" action="/" style="width:60px;vertical-align: middle;">
                                    {% for download_format_ in download_format %}
                                        <option value="{{download_format_}}" {% if download_format_==downloadf %} selected {% endif %}>{{download_format_}}</option>
                                    {% endfor %}
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            {% endif %}

            <!-- -------------------- ARGUMENTS DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Arguments</span>
                </a>
                <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Upload arguments file:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;padding-bottom: 8px;">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputargumentsfile" placeholder="Choose File">{{ inputargumentsfile }}</label>
                                    <label>
                                        <input type="file" class="custom-file-input" name="inputargumentsfile" id="inputargumentsfile" style="height: 30px;width:310px;vertical-align: middle;">
                                    </label>
                                </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>
                                    
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">        
                                <label>
                                    <input type="text" name="session_argumentsn" value='{{ session_argumentsn }}' style="width:310px;height:30px;padding-left:4px;vertical-align: middle;">
                                </label>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- SESSION DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession" style="padding-top:0px;">
                    <i class="fas fa-fw fa-th" aria-hidden="true"></i>
                    <span>Session</span>
                </a>
                <div id="collapseSession" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu" style="padding-left:7%;padding-right:0%;">
                        <div class="row arguments" style="width: 100%; padding-left:4%; padding-right:0%; white-space:nowrap; overflow-x: auto;display:flex;justify-content:space-between;text-align:justify;">

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Upload session file:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;padding-bottom: 8px;">
                                <div class="custom-file">
                                    <label class="custom-file-label" for="inputsessionfile" placeholder="Choose File">{{ inputsessionfile }}</label>
                                    <label>
                                        <input type="file" class="custom-file-input" name="inputsessionfile" id="inputsessionfile" style="width:310px;vertical-align: middle;">
                                    </label>
                                </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>Download file name:</label>
                            </div>

                            <div class="row arg" style="width:310px; padding-left:0%; padding-right:0%; display:flex; justify-content:space-between; text-align:justify;">
                                <label>
                                    <input type="text" style="width:310px;height:30px;padding-left:4px;vertical-align: middle;" name="session_downloadn" value='{{ session_downloadn }}'>
                                </label>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            

            <!-- -------------------- SUBMIT ---------------------- -->

            <div style="padding-right: 15px; padding-left: 15px;" >
            <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Submit" />
            </div>
        </form>

                <!-- Divider -->
        <!--hr class="sidebar-divider d-none d-md-block"-->
    </div>
    
      <!-- Sidebar Toggler (Sidebar) -->
      <!-- div class="text-center d-none d-md-inline" -->
        <!-- button class="rounded-circle border-0" id="sidebarToggle"></button -->
      <!-- /div -->

</ul>

{% endblock %}

<!-- -------------------- MAIN BODY AND FIGURE ---------------------- -->

{% block content %}
<div class="container-fluid">



    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Attention</font></h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: coral; color:black" role="alert">{{ message }}</div-->

        {% elif category == "traceback" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Whoops!</font></h6>
            </div>
            <div class="card-body">
                {% autoescape false %}
                {{ message }}
                <br>Something went wrong. Review your input and press <b>Submit</b>.<br><br>We have been notified that something is wrong and will investigate the source of this issue. 
                If you would like help with this particular case please press <b>Ice cream</b> to share your session data and parameters with us.<br>
                <br>
                {% endautoescape %}

                <form id="askforhelp" action="{{ url_for('askforhelp') }}" method="post" enctype="multipart/form-data">
                    <div class="pull-xs-right" style="float:right;">
                        <div class="btn-group" style="float:right;">
                            <button type="submit" class="btn btn-primary" style="float:right;">
                                <i></i> Ice cream
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        
        {% else %}
        <!-- INFORMATION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: rgb(148,224,153); color:black" role="alert">{{ message }}</div-->
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if figure_url %}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

        <div class="chart" id="heatmap" style="overflow-y:auto;height:calc(100vh - 195px);overflow-x:auto;">
            <script>
                var graphs = {{figure_url | safe}};
                Plotly.plot('heatmap',graphs,{});
            </script>


        <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
            <div style="padding-right: 2px;">
                <form action="{{ url_for('iheatmap', download='download') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="fas fa-download fa-sm text-white-50"></i> Figure
                    </button>
                </form>
            </div>

            <div style="padding-left:2px;padding-right:2px;">
                <form action="{{ url_for('iheatmap', download='clusters') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="far fa-file-excel fa-sm text-white-50"></i> Clusters
                    </button>
                </form>
            </div>

            <div style="padding-left: 2px;padding-right: 2px;">
                <form action="{{ url_for('download', json_type='arg') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                        <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                    </button>
                </form>
            </div>

            <div style="padding-left: 2px;">
                <form action="{{ url_for('download', json_type='ses') }}" method="get">
                    <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-th fa-sm text-white-50"></i> Session
                    </button>
                </form>
            </div>

        </div>
        </div>

    {% endif %}
</div>

{% endblock %}



{% block in_app_footer %}
<!-- Footer -->
<footer class="sticky-footer bg-white" style="padding-top:0.5;padding-bottom:0.5;">
    <div class="container my-auto" style="padding-top:2;padding-bottom:2;">
        <div class="copyright text-center my-auto" style="padding-top:2;padding-bottom:2;">
        <span>Copyright &copy; Flaski, The Bioinformatics Core Facility of the Max Planck Institute for Biology of Ageing</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
{% endblock %}
