{% extends "base.html" %}

{% block app_title %}

<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
    <h1 class="h3 mb-0 text-gray-800">Survival Analysis</h1>
</div>

{% endblock %}

{% block apps_dropdown %}
{% for app_ in apps %}
<a class="dropdown-item" href="/{{app_.link}}">{{ app_.name }}</a>
{% endfor %}
{% endblock %}

{% block side_bar_content %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('login') }}">
            <div class="sidebar-brand-icon rotate-n-0">
                <i class="fas fa-dog"></i>
            </div>
        <div class="sidebar-brand-text mx-3">Flaski</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div id="" style="overflow-y:auto;height:calc(100vh - 80px);">

        <form action="{{ url_for('lifespan') }}" method="post" enctype="multipart/form-data">

            <!-- -------------------- INPUT FILE SELECTION ---------------------- -->
            <!-- Heading -->
            <div class="sidebar-heading">Input</div>

            <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;" >
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="inputfile" id="inputfile">
                    <label class="custom-file-label" for="inputfile" placeholder="Choose File">{{filename}}</label>
                </div>
            </div>    

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            {% if filename != "Select file.." %}

            <!-- -------------------- SELECT INPUT COLUMNS ---------------------- -->
            <div class="row" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px;">

                <div class="column">
                    <div class="sidebar-heading">Select time:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px; padding-bottom: 15px;" >
                        <select title=xcols name=xvals method="GET" action="/" style="width:365px">
                            {% for xcol in xcols %}
                                <option value="{{xcol}}" {% if xcol==xvals %} selected {% endif %}>{{xcol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="column">
                    <div class="sidebar-heading">Select death:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;padding-bottom:15px;" >
                        <select title=ycols name=yvals method="GET" action="/" style="width:365px">
                            {% for ycol in ycols %}
                                <option value="{{ycol}}" {% if ycol in yvals %} selected {% endif %}>{{ycol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="column">
                    <div class="sidebar-heading">Select censors:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;padding-bottom:15px;" >
                        <select title=censors_col name=censors_val method="GET" action="/" style="width:365px">
                            {% for censorCol in censors_col %}
                                <option value="{{censorCol}}" {% if censorCol in censors_val %} selected {% endif %}>{{censorCol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="column">
                    <div class="sidebar-heading">Select groups:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;padding-bottom:15px;" >
                        <select name=groups_value method="GET" action="/" style="width:365px">
                            {% for groups_ in groups %}
                                <option value="{{groups_}}" {% if groups_ in groups_value %} selected {% endif %}>{{groups_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>



            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            Arguments:
            </div>

            <!-- -------------------- ANALYSIS SETTING ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->

            {% if groups_value == "None" %}
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Model Settings</span>
                </a>
                <div id="collapseSettings" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label style="width:60px">Estimate:</label>
                                <label style="padding-left:0x;padding-right:4px;"><input type="checkbox" name="Conf_Interval" {% if Conf_Interval=="on" %} checked {% elif Conf_Interval==".on" %} checked {% endif %}/> Show Confidence Intervals </label>
                                <label style="padding-left:19px;padding-right:4px;"><input type="checkbox" name="show_censors" {% if show_censors=="on" %} checked {% elif show_censors==".on" %} checked {% endif %}/> Show censors </label>
                                <label style="padding-left:19px;padding-right:0px;"><input type="checkbox" name="ci_legend" {% if ci_legend=="on" %} checked {% elif ci_legend==".on" %} checked {% endif %}/> Show legend </label>
                                <label style="padding-left:19px;padding-right:0px;"><input type="checkbox" name="ci_force_lines" {% if ci_force_lines=="on" %} checked {% elif ci_force_lines==".on" %} checked {% endif %}/> Plot Confidence Interval lines</label>
                            </div>

                            <div class="row arg">
                                <label>Confidence Interval alpha: <input type="text" name="ci_alpha" value='{{ ci_alpha }}' style="width:56px;height:22px;padding-left:4px;"></label>
                            </div>

                        </div>
                    </div>
                </div>
            </li>

            {% endif %}

            {% if groups_value != "None" %}
                {% for group_h in groups_settings %}

                    <li class="nav-item" style="padding-top: 0px;">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse{{group_h.name}}" aria-expanded="true" aria-controls="collapse{{group_h.name}}" style="padding-top: 0px;">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Model Settings: {{group_h.name}}</span>
                        </a>
                        <div id="collapse{{group_h.name}}" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded openmenu"> 
                                <div class="row arguments">

                                    <div class="row arg">
                                        <div class="row arg">
                                            <label style="width:60px">Estimate:</label>
                                            <label style="padding-left:0x;padding-right:4px;"><input type="checkbox" name="{{group_h.name}}.Conf_Interval" {% if group_h.Conf_Interval=="on" %} checked {% elif group_h.Conf_Interval==".on" %} checked {% endif %}/> Show Confidence Intervals </label>
                                            <label style="padding-left:60px;"><input type="checkbox" name="{{group_h.name}}.show_censors" {% if group_h.show_censors=="on" %} checked {% elif group_h.show_censors==".on" %} checked {% endif %}/> Show censors </label>
                                            <label style="padding-left:60px;"><input type="checkbox" name="{{group_h.name}}.ci_legend" {% if group_h.ci_legend=="on" %} checked {% elif group_h.ci_legend==".on" %} checked {% endif %}/> Show legend </label>
                                            <label style="padding-left:60px;"><input type="checkbox" name="{{group_h.name}}.ci_force_lines" {% if group_h.ci_force_lines=="on" %} checked {% elif group_h.ci_force_lines==".on" %} checked {% endif %}/> Plot Confidence Interval lines</label>
                                        </div>
                                    </div>
        
                                    <div class="row arg">
                                        <div class="row arg">
                                            <label>Confidence Interval alpha: <input type="text" name="{{group_h.name}}.ci_alpha" value='{{ group_h.ci_alpha }}' style="width:56px;height:22px;padding-left:4px;"></label>
                                        </div>
                                    </div>

                                    <div class="row arg">
                                        <div class="row arg"></div>
                                            <label>Marker shape: <select name={{group_h.name}}.censor_marker_value method="GET" action="/" style="width:50px">
                                                {% for markerstyles_ in censor_marker %}
                                                    <option value="{{markerstyles_}}" {% if markerstyles_==group_h.censor_marker_value %} selected {% endif %}>{{markerstyles_}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row arg">
                                        <div class="row arg">
                                            <label style="padding-left:16px;"> Marker size: <select name={{group_h.name}}.censor_marker_size_val method="GET" action="/" style="width:50px">
                                                {% for marker_size_ in censor_marker_size %}
                                                    <option value="{{marker_size_}}" {% if marker_size_==group_h.censor_marker_size_val %} selected {% endif %}>{{marker_size_}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="row arg">
                                        <div class="row arg">
                                            <label style="padding-left:16px;"> Marker edge width: <select name={{group_h.name}}.edge_linewidth method="GET" action="/" style="width:50px">
                                                {% for edge_linewidth_ in edge_linewidths %}
                                                    <option value="{{edge_linewidth_}}" {% if edge_linewidth_==group_h.edge_linewidth %} selected {% endif %}>{{edge_linewidth_}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row arg">
                                        <div class="row arg">
                                            <label style="padding-left:16px;"> Marker face color: <select name={{group_h.name}}.markerc method="GET" action="/" style="width:60px">
                                                {% for markerc_ in marker_color %}
                                                    <option value="{{markerc_}}" {% if markerc_==group_h.markerc %} selected {% endif %}>{{markerc_}}</option>"
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row arg" style="padding-bottom:6px;">
                                            <label style="padding-left:16px;"> or write a color name <input type="text" name={{group_h.name}}.markerc_write value="{{group_h.markerc_write}}" style="width:155px;height:22px;padding-left: 4px">
                                    </div>

                                    <div class="row arg">
                                        <div class="row arg">
                                            <label style="padding-left:16px;"> Marker edge color: <select name={{group_h.name}}.edgecolor method="GET" action="/" style="width:60px">
                                                {% for edgecolor_ in edge_colors %}
                                                    <option value="{{edgecolor_}}" {% if edgecolor_==group_h.edgecolor %} selected {% endif %}>{{edgecolor_}}</option>"
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row arg" style="padding-bottom:6px;">
                                            <label style="padding-left:16px;"> or write a color name <input type="text" name={{group_h.name}}.edgecolor_write value="{{group_h.edgecolor_write}}" style="width:155px;height:22px;padding-left: 4px">
                                    </div>

                                    <div class="row arg">   
                                        <div class="row arg">
                                            <label style="padding-left:16px;">Marker alpha: <input type="text" name="{{group_h.name}}.marker_alpha" value='{{ group_h.marker_alpha }}' style="width:56px;height:22px;padding-left:4px;"></label>
                                        </div>
            
                                    </div>

                                    <div class="row arg">
                                        <div class="row arg">
                                            <label style="padding-left:16px;"> Line style: <select name={{group_h.name}}.linestyle_value method="GET" action="/" style="width:80px">
                                                {% for linestyle_ in linestyles %}
                                                    <option value="{{linestyle_}}" {% if linestyle_==group_h.linestyle_value %} selected {% endif %}>{{linestyle_}}</option>"
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row arg" style="padding-bottom:6px;">
                                            <label style="padding-left:16px;"> or write a linestyle name <input type="text" name={{group_h.name}}.linestyle_write value="{{group_h.linestyle_write}}" style="width:155px;height:22px;padding-left: 4px">
                                    </div>

                                    <div class="row arg">
                                        <div class="row arg">
                                            <label style="padding-left:16px;"> Line color: <select name={{group_h.name}}.line_color_value method="GET" action="/" style="width:80px">
                                                {% for linecolor_ in line_colors %}
                                                    <option value="{{linecolor_}}" {% if linecolor_==group_h.line_color_value %} selected {% endif %}>{{linecolor_}}</option>"
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="row arg" style="padding-bottom:6px;">
                                            <label style="padding-left:16px;"> or write a color name <input type="text" name={{group_h.name}}.linecolor_write value="{{group_h.linecolor_write}}" style="width:155px;height:22px;padding-left: 4px">
                                    </div>

                                    <div class="row arg">
                                        <div class="row arg">
                                            <div class="row arg" style="padding-bottom:6px;">
                                                <label style="padding-left:16px;"> Line width <input type="text" name={{group_h.name}}.linewidth_write value="{{group_h.linewidth_write}}" style="width:80px;height:22px;padding-left: 4px">
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </li>

                {% endfor %}
            {% endif %}

            <!-- -------------------- FIGURE ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSetting" aria-expanded="true" aria-controls="collapseSetting" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Plot Settings</span>
                </a>
                <div id="collapseSetting" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Width: <input type="text" name="fig_width" value='{{ fig_width }}' style="width:98px;height:22px;padding-left: 4px"></label>
                                <label style="padding-left: 7px">Height: <input type="text" name="fig_height" value='{{ fig_height }}' style="width:98px;height:22px;padding-left: 4px"></label>
                            </div>

                            <div class="row arg">
                                <label>Title: <input type="text" name="title" value='{{ title }}' style="width:180px;height:22px;padding-left: 4px"></label>
                                <label style="padding-left: 4px"> size: <select name=titles method="GET" action="/" style="width:50px">
                                    {% for title_size_ in title_size %}
                                        <option value="{{title_size_}}" {% if title_size_==titles %} selected {% endif %}>{{title_size_}}</option>
                                    {% endfor %}
                                </select></label>
                            </div>

                            <!-- <div class="row arg">
                                <label>Linestyle: <select name=linestyle_value method="GET" action="/" style="width:115px;padding-left:4px">
                                    {% for ls_ in linestyles %}
                                        <option value="{{ls_}}" {% if ls_==linestyle_value %} selected {% endif %}>{{ls_}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="row arg">
                                <label>Linewidth: <input type="text" name="linewidth" value='{{ linewidth }}' style="width:98px;height:22px;padding-left: 4px"></label>
                            </div> -->

                        </div>
                    </div>
                </div>
            </li>

            <!-- -------------------- AXES ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAxes" aria-expanded="true" aria-controls="collapseAxes" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Axes</span>
                </a>
                <div id="collapseAxes" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">
                            
                            <div class="row arg">
                                <label>x label: <input type="text" name="xlabel" value='{{ xlabel }}' style="width:167px;height:22px;padding-left: 4px"></label>
                                <label style="padding-left: 4px"> size: <select name=xlabels method="GET" action="/" style="width:50px">
                                    {% for xlabel_size_ in xlabel_size %}
                                        <option value="{{xlabel_size_}}" {% if xlabel_size_==xlabels %} selected {% endif %}>{{xlabel_size_}}</option>
                                    {% endfor %}
                                </select></label>
                            </div>

                            <div class="row arg">
                                <label>y label: <input type="text" name="ylabel" value='{{ ylabel }}' style="width:167px;height:22px;padding-left: 4px"></label>
                                <label style="padding-left: 4px"> size: <select name=ylabels method="GET" action="/" style="width:50px">
                                    {% for ylabel_size_ in ylabel_size %}
                                        <option value="{{ylabel_size_}}" {% if ylabel_size_==ylabels %} selected {% endif %}>{{ylabel_size_}}</option>
                                    {% endfor %}
                                </select></label>
                            </div>

                            <div class="row arg">
                                <label style="width:46px">Axis:</label>
                                <label style="padding-left:0x;padding-right:4px;"><input type="checkbox" name="left_axis" {% if left_axis=="on" %} checked {% elif left_axis==".on" %} checked {% endif %}/> left </label>
                                <label style="padding-left:19px;padding-right:4px;"><input type="checkbox" name="right_axis" {% if right_axis=="on" %} checked {% elif right_axis==".on" %} checked {% endif %}/> right </label>
                                <label style="padding-left:19px;padding-right:4px;"><input type="checkbox" name="upper_axis" {% if upper_axis=="on" %} checked {% elif upper_axis==".on" %} checked {% endif %}/> upper </label>
                                <label style="padding-left:19px;padding-right:0px;"><input type="checkbox" name="lower_axis" {% if lower_axis=="on" %} checked {% elif lower_axis==".on" %} checked {% endif %}/> lower </label>
                            </div>

                            <div class="row arg">
                                <label>Line width: <label style="padding-left:9px;"><input type="text" name="axis_line_width" value='{{ axis_line_width }}' style="width:50px;height:22px;padding-left: 4px"></label></label>
                            </div>
                            <div class="row arg">
                                <label>Ticks length: <input type="text" name="ticks_length" value='{{ ticks_length }}' style="width:50px;height:22px;padding-left: 4px">
                                <label style="padding-left:2px;"> Ticks direction: <select name=ticks_direction_value method="GET" action="/" style="width:64px">
                                    {% for ticks_direction_ in ticks_direction %}
                                        <option value="{{ticks_direction_}}" {% if ticks_direction_==ticks_direction_value %} selected {% endif %}>{{ticks_direction_}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="row arg">
                                <label style="width:46px">Ticks:</label>
                                <label style="padding-left:0x;padding-right:4px;"><input type="checkbox" name="tick_left_axis" {% if tick_left_axis=="on" %} checked {% elif tick_left_axis==".on" %} checked {% endif %}/> left </label>
                                <label style="padding-left:19px;padding-right:4px;"><input type="checkbox" name="tick_right_axis" {% if tick_right_axis=="on" %} checked {% elif tick_right_axis==".on" %} checked {% endif %}/> right </label>
                                <label style="padding-left:19px;padding-right:4px;"><input type="checkbox" name="tick_upper_axis" {% if tick_upper_axis=="on" %} checked {% elif tick_upper_axis==".on" %} checked {% endif %}/> upper </label>
                                <label style="padding-left:19px;padding-right:0px;"><input type="checkbox" name="tick_lower_axis" {% if tick_lower_axis=="on" %} checked {% elif tick_lower_axis==".on" %} checked {% endif %}/> lower </label>
                            </div>

                            <div class="row arg">
                                <label>X ticks <label>fontsize: <input type="text" name="xticks_fontsize" value='{{ xticks_fontsize }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                                <label style="padding-left:14px;"> rotation: <input type="text" name="xticks_rotation" value='{{ xticks_rotation }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                            </div>

                            <div class="row arg">
                                <label>Y ticks <label style="padding-left:1px;">fontsize: <input type="text" name="yticks_fontsize" value='{{ yticks_fontsize }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                                <label style="padding-left:13px;"> rotation: <input type="text" name="yticks_rotation" value='{{ yticks_rotation }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                            </div>

                            <div class="row arg">
                                <label>X limits <label style="padding-left:9px;">lower: <input type="text" name="x_lower_limit" value='{{ x_lower_limit }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                                <label style="padding-left:26px;"> upper: <input type="text" name="x_upper_limit" value='{{ x_upper_limit }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                            </div>

                            <div class="row arg">
                                <label>Y limits <label style="padding-left:10px;">lower: <input type="text" name="y_lower_limit" value='{{ y_lower_limit }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                                <label style="padding-left:25px;"> upper: <input type="text" name="y_upper_limit" value='{{ y_upper_limit }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                            </div>

                            <!-- <div class="row arg">
                                <label>N ticks <label style="padding-left:10px;">x-axis: <input type="text" name="maxxticks" value='{{ maxxticks }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                                <label style="padding-left:25px;"> y-axis: <input type="text" name="maxyticks" value='{{ maxyticks }}' style="width:65px;height:22px;padding-left:4px;"></label></label>
                            </div> -->

                            <div class="row arg">
                                <label>Grid: <label style="padding-left:2px;"><select name=grid_value method="GET" action="/" style="width:97px">
                                    {% for grid_ in grid %}
                                        <option value="{{grid_}}" {% if grid_==grid_value %} selected {% endif %}>{{grid_}}</option>
                                    {% endfor %}
                                </select></label></label>

                                <label style="padding-left:35px;"> width: <label style="padding-left:2px;"><input type="text" name="grid_linewidth" value='{{ grid_linewidth }}' style="width:74px;height:22px;padding-left:4px;"></label></label>

                            </div>

                            <div class="row arg">
                                <label> color: <select name=grid_color_value method="GET" action="/" style="width:95px">
                                    {% for marker_color_ in marker_color %}
                                        <option value="{{marker_color_}}" {% if marker_color_==grid_color_value %} selected {% endif %}>{{marker_color_}}</option> 
                                    {% endfor %}
                                </label>
                                </select>
                                <label>   or ..</label>
                            </div>

                            <div class="row arg" style="padding-bottom:6px;">
                                <label> write a color name <input type="text" name=grid_color_text value="{{grid_color_text}}" style="width:155px;height:22px;padding-left: 4px">
                            </div>

                        </div>
        
                    </div>

                </div>

            </li>
           
            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="padding-bottom: 12px;">Management:</div>

            <!-- -------------------- TABLE DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Tables</span>
                </a>
                <div id="collapseDownload" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Download file name: <input type="text" name="downloadn" value='{{ downloadn }}' style="width:298px;height:30px;padding-left: 4px">
                            </div>   
                            <div class="row arg">
                                <label> format: <select name=downloadf method="GET" action="/" style="width:50px">
                                    {% for download_format_ in download_format %}
                                        <option value="{{download_format_}}" {% if download_format_==downloadf %} selected {% endif %}>{{download_format_}}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </li>

            <!-- -------------------- FIGURE DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseFigure" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Download file name: <input type="text" name="downloadn" value='{{ downloadn }}' style="width:298px;height:30px;padding-left: 4px">
                            </div>   
                            <div class="row arg">
                                <label> format: <select name=download_fig method="GET" action="/" style="width:50px">
                                    {% for download_format_ in download_fig_format %}
                                        <option value="{{download_format_}}" {% if download_format_==download_fig %} selected {% endif %}>{{download_format_}}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </li>

            <!-- -------------------- ARGUMENTS DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Arguments</span>
                </a>
                <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Upload arguments file:
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="inputargumentsfile" id="inputargumentsfile" style="width:300px;">
                                        <label class="custom-file-label" for="inputargumentsfile" placeholder="Choose File">{{ inputargumentsfile }}</label>
                                    </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg">
                                <label>Download file name: <input type="text" name="session_argumentsn" value='{{ session_argumentsn }}' style="width:298px;height:30px;padding-left:4px">
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- SESSION DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession" style="padding-top:0px;">
                    <i class="fas fa-fw fa-th" aria-hidden="true"></i>
                    <span>Session</span>
                </a>
                <div id="collapseSession" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Upload session file:
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="inputsessionfile" id="inputsessionfile" style="width:300px;">
                                        <label class="custom-file-label" for="inputsessionfile" placeholder="Choose File">{{ inputsessionfile }}</label>
                                    </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg">
                                <label>Download file name:<input type="text" style="width:298px;height:30px;padding-left:4px" name="session_downloadn" value='{{ session_downloadn }}'>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            

            <!-- -------------------- SUBMIT ---------------------- -->

            <div style="padding-right: 15px; padding-left: 15px;" >
            <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Submit" />
            </div>
        </form>

    </div>

</ul>

{% endblock %}

<!-- -------------------- MAIN BODY AND FIGURE ---------------------- -->

{% block content %}
<div style="margin-left:150px;" id="loading"></div>
<div id="contentready" class="container-fluid">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Attention</font></h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        {% elif category == "traceback" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Whoops!</font></h6>
            </div>
            <div class="card-body">
                {% autoescape false %}
                {{ message }}
                <br>Something went wrong. Review your input and press <b>Submit</b>.<br><br>We have been notified that something is wrong and will investigate the source of this issue. 
                If you would like help with this particular case please press <b>Ice cream</b> to share your session data and parameters with us.<br>
                <br>
                {% endautoescape %}

                <form id="askforhelp" action="{{ url_for('askforhelp') }}" method="post" enctype="multipart/form-data">
                    <div class="pull-xs-right" style="float:right;">
                        <div class="btn-group" style="float:right;">
                            <button type="submit" class="btn btn-primary" style="float:right;">
                                <i></i> Ice cream
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        {% else %}
        <!-- INFORMATION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: rgb(148,224,153); color:black" role="alert">{{ message }}</div-->
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if figure_url and table_contents %}

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'LifeSpan Curve')" id="defaultOpen">LifeSpan Curve</button>
        <button style="width:200px;" class="tablinks" onclick="openCity(event, 'Survival Analysis Table')">Survival Analysis Table</button>
        {% if groups_value != "None" %}
        <button class="tablinks" onclick="openCity(event, 'Cox Proportional Hazard Table')">Cox Proportional Hazard Table</button>
        {% endif %}
    </div>

    <div class="table-responsive" style="overflow-y:auto;height:calc(100vh - 260px);"> 
    
        <div id="LifeSpan Curve" class="tabcontent">
            <h2><br>LifeSpan Curve</h2>
            <img src="data:image/png;base64,{{ figure_url }}">


            <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
                <div style="padding-right: 2px;">
                    <form action="{{ url_for('lifespan', download='download') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-download fa-sm text-white-50"></i> Figure
                        </button>
                    </form>
                </div>
    
                <div style="padding-left: 2px;padding-right: 2px;">
                    <form action="{{ url_for('download', json_type='arg') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                        </button>
                    </form>
                </div>
    
                <div style="padding-left: 2px;">
                    <form action="{{ url_for('download', json_type='ses') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-th fa-sm text-white-50"></i> Session
                        </button>
                    </form>
                </div>
    
            </div>

        </div>

        <div id="Survival Analysis Table" class="tabcontent">
            <h2><br>Survival Analysis Table</h2>

            <table id="listr-table" class="table table-hover">
                <thead>
                    <tr>
                        {% for entry in table_headers %}
                        <th class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort="string">{{entry}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <small class="pull-xs-left text-muted" dir="ltr">Showing top 50 results. Download table to see the complete list of results.</small>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                    {% for entry in table_contents %}
                    <tr>
                        {% for col in entry %}
                        <td class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort-value="{{col}}" title="{{col}}">{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
                <div style="padding-right: 2px;">
                    <form action="{{ url_for('lifespan', download='results') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-download fa-sm text-white-50"></i> Results
                        </button>
                    </form>
                </div>
    
                <div style="padding-left: 2px;padding-right: 2px;">
                    <form action="{{ url_for('download', json_type='arg') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                        </button>
                    </form>
                </div>
    
                <div style="padding-left: 2px;">
                    <form action="{{ url_for('download', json_type='ses') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-th fa-sm text-white-50"></i> Session
                        </button>
                    </form>
                </div>
    
            </div>

        </div>

        {% if groups_value != "None" %}
        <div id="Cox Proportional Hazard Table" class="tabcontent">
            <h2><br>Cox Proportional Hazard Table</h2>
    
            <table id="listr-table" class="table table-hover">
                <thead>
                    <tr>
                        {% for entry in table_headers_coeffs %}
                        <th class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort="string">{{entry}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                
                <tbody>
                    {% for entry in table_contents_coeff %}
                    <tr>
                        {% for col in entry %}
                        <td class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort-value="{{col}}" title="{{col}}">{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            
                <thead>
                    <tr>
                        {% for entry in table_headers_stats %}
                        <th class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort="string">{{entry}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                
                <tbody>
                    {% for entry in table_contents_stats %}
                    <tr>
                        {% for col in entry %}
                        <td class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort-value="{{col}}" title="{{col}}">{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
                <div style="padding-left:2px;padding-right:2px;">
                    <form action="{{ url_for('lifespan', download='cph') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="far fa-file-excel fa-sm text-white-50"></i> Regression
                        </button>
                    </form>
                </div>
        
                <div style="padding-left: 2px;padding-right: 2px;">
                    <form action="{{ url_for('download', json_type='arg') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                        </button>
                    </form>
                </div>
        
                <div style="padding-left: 2px;">
                    <form action="{{ url_for('download', json_type='ses') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-th fa-sm text-white-50"></i> Session
                        </button>
                    </form>
                </div>

            </div>
            
        </div>
        {% endif %}
    </div>

    <!-- </div> -->

    {% endif %}
</div>

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<script>
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;
  
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

{% endblock %}

{% block in_app_footer %}
<!-- Footer -->
<footer class="sticky-footer bg-white" style="padding-top:0.5;padding-bottom:0.5;">
    <div class="container my-auto" style="padding-top:2;padding-bottom:2;">
        <div class="copyright text-center my-auto" style="padding-top:2;padding-bottom:2;">
        <span>Copyright &copy; Flaski, The Bioinformatics Core Facility of the Max Planck Institute for Biology of Ageing</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
{% endblock %}
