{% extends "base.html" %}

{% block app_title %}

<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
    <h1 class="h3 mb-0 text-gray-800">PCA</h1>
</div>

{% endblock %}

{% block apps_dropdown %}
{% for app_ in apps %}
<a class="dropdown-item" href="/{{app_.link}}">{{ app_.name }}</a>
{% endfor %}
{% endblock %}

{% block side_bar_content %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('login') }}">
        <!-- div class="sidebar-brand-icon rotate-n-15"-->
            <!-- i class="fas fa-laugh-wink"--><!-- /i -->
        <!-- /div -->
        <!--div style="padding-right: 0px; padding-left: px;" -->
            <div class="sidebar-brand-icon rotate-n-0">
                <i class="fas fa-dog"></i>
            </div>
        <!--/div-->
        <div class="sidebar-brand-text mx-3">Flaski</div><!--sup>bioinf</sup></div-->
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div id="" style="overflow-y:auto;height:calc(100vh - 80px);">

        <form action="{{ url_for('pca') }}" method="post" enctype="multipart/form-data">

            <!-- -------------------- INPUT FILE SELECTION ---------------------- -->
            <!-- Heading -->
            <div class="sidebar-heading">Input</div>

            <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;" >
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="inputfile" id="inputfile">
                    <!--label id="inputfilelabel" class="custom-file-label" for="inputfile" placeholder="Choose File"></label-->
                    <label class="custom-file-label" for="inputfile" placeholder="Choose File">{{filename}}</label>
                </div>
                <!--span class="input-group-addon"><i class="fa fa-file-o fa-2x" style="padding-right: 6px; padding-left: 6px; padding-top: 2px; padding-bottom: 2px;"></i></span-->
                <!--input class="form-control" type="text" placeholder="input file"-->
            </div>    

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            {% if filename != "Select file.." %}

            <!-- -------------------- SELECT INPUT COLUMNS ---------------------- -->
            <div class="row" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px;">

                <div class="column">
                    <div class="sidebar-heading">X values:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px; padding-bottom: 15px;" >
                        <select title=xcols name=xvals method="GET" action="/" style="width:365px">
                            {% for xcol in xcols %}
                                <option value="{{xcol}}" {% if xcol==xvals %} selected {% endif %}>{{xcol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="column">
                    <div class="sidebar-heading">Data columns:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right:6px;padding-left:15px;padding-bottom:15px;" >
                        <select multiple name=yvals method="GET" action="/" style="width:365px">
                            {% for ycol in ycols %}
                                <option value="{{ycol}}" {% if ycol in yvals %} selected {% endif %}>{{ycol}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <!--div class="column">
                    <div class="sidebar-heading" style="padding-left: 6px;">Groups:</div>
                    <div class="input-group margin-bottom-sm" style="padding-right: 10px; padding-left: 6px; padding-bottom: 15px;" >
                        <select name=groups_value method="GET" action="/" style="width:114px">
                            {% for groups_ in groups %}
                                <option value="{{groups_}}" {% if groups_==groups_value %} selected {% endif %}>{{groups_}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div-->


            </div>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            Arguments:
            </div>

            <!-- -------------------- FIGURE ARGUMENTS ---------------------- -->

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item" style="padding-bottom: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseFigure" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                    <label>Width: <input type="text" name="fig_width" value='{{ fig_width }}' style="width:98px;height:22px;padding-left: 4px"></label>
                                    <label style="padding-left: 7px">Height: <input type="text" name="fig_height" value='{{ fig_height }}' style="width:98px;height:22px;padding-left: 4px"></label>
                            </div>


                            <div class="row arg">
                                <label>Title: <input type="text" name="title" value='{{ title }}' style="width:180px;height:22px;padding-left: 4px"></label>
                                <label style="padding-left: 4px"> size: <select name=title_size_value method="GET" action="/" style="width:50px">
                                    {% for title_size_ in title_size %}
                                        <option value="{{title_size_}}" {% if title_size_==title_size_value %} selected {% endif %}>{{title_size_}}</option>
                                    {% endfor %}
                                </select></label>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- Clustering ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClustering" aria-expanded="true" aria-controls="collapseClustering" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Cluster</span>
                </a>
                <div id="collapseClustering" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <label style="padding-left:0x;padding-right:4px;width:150px;"><input type="checkbox" name="col_cluster" {% if col_cluster=="on" %} checked {% elif col_cluster==".on" %} checked {% endif %}/> Columns cluster </label>
                            <label style="padding-left:0x;padding-right:4px;width:150px;"><input type="checkbox" name="row_cluster" {% if row_cluster=="on" %} checked {% elif row_cluster==".on" %} checked {% endif %}/> Row cluster </label>

                            <label style="width:300px">Dendogram-to-figure ratio:</label>
                            <label style="padding-left:0x;padding-right:4px;">columns: <input type="text" name="row_dendogram_ratio" value='{{ row_dendogram_ratio }}' style="width:97px;height:22px;padding-left: 4px"></label>
                            <label style="padding-left:0x;padding-right:4px;">rows: <input type="text" name="col_dendogram_ratio" value='{{ col_dendogram_ratio }}' style="width:98px;height:22px;padding-left: 4px"></label>

                            <label style="width:300px">Number of clusters to highlight:</label>
                            <label style="padding-left:0x;padding-right:4px;">columns: <input type="text" name="n_cols_cluster" value='{{ n_cols_cluster }}' style="width:97px;height:22px;padding-left: 4px"></label>
                            <label style="padding-left:0x;padding-right:4px;">rows: <input type="text" name="n_rows_cluster" value='{{ n_rows_cluster }}' style="width:98px;height:22px;padding-left: 4px"></label>


                            <label>Method: <select name=method method="GET" action="/" style="width:78px">
                                {% for method_ in method %}
                                    <option value="{{method_}}" {% if method_==method_value %} selected {% endif %}>{{method_}}</option>
                                {% endfor %}
                            </select></label>

                            <label style="padding-left:8px;"> Distance: <select name=distance_value method="GET" action="/" style="width:98px">
                                {% for distance_ in distance %}
                                    <option value="{{distance_}}" {% if distance_==distance_value %} selected {% endif %}>{{distance_}}</option>
                                {% endfor %}
                            </select></label>

                            <label style="width:300px">Pre-defined markers:</label>
                            <label style="padding-left:16px;">columns: <select name=xvals_colors method="GET" action="/" style="width:225px">
                                {% for xcols_ in xvals_colors_list %}
                                    <option value="{{xcols_}}" {% if xcols_==xvals_colors %} selected {% endif %}>{{xcols_}}</option>
                                {% endfor %}
                            </select></label>

                            <label style="padding-left:16px;">rows: <select name=yvals_colors method="GET" action="/" style="width:246px">
                                {% if yvals_colors=="" %}
                                    <option value="select a column.." selected>select a column..</option>
                                {% else %}
                                    <option value="select a column..">select a column..</option>
                                {% endif %}
                                {% for ycols_ in ycols %}
                                    <option value="{{ycols_}}" {% if ycols_==yvals_colors %} selected {% endif %}>{{ycols_}}</option>
                                {% endfor %}
                            </select></label>

                        </div>
        
                    </div>
                </div>
            </li>


            <!-- -------------------- PLOT ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlot" aria-expanded="true" aria-controls="collapsePlot" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Plot</span>
                </a>
                <div id="collapsePlot" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">


                            <label style="padding-left:0px;padding-right:4px;width:150px;"><input type="checkbox" name="yticklabels" {% if yticklabels=="on" %} checked {% elif yticklabels==".on" %} checked {% endif %}/> Column labels</label>
                            <label style="padding-left:0px;padding-right:4px;width:150px;"><input type="checkbox" name="xticklabels" {% if xticklabels=="on" %} checked {% elif xticklabels==".on" %} checked {% endif %}/> Row labels</label>

                            <label>Labels font size: </label>
                            <label style="padding-left:21px;padding-right:0px;"> columns: <input type="text" name="yaxis_font_size" value='{{ yaxis_font_size }}' style="width:30px;height:22px;padding-left:4px;"></label>
                            <label style="padding-left:21px;padding-right:0px;"> rows: <input type="text" name="xaxis_font_size" value='{{ xaxis_font_size }}' style="width:30px;height:22px;padding-left:4px;"></label>

                            <label>CMAP: <select name=cmap_value method="GET" action="/">
                                {% for cmap_ in cmap %}
                                    <option value="{{cmap_}}" {% if cmap_==cmap_value %} selected {% endif %}>{{cmap_}}</option>
                                {% endfor %}
                            </select></label>

                            <label style="padding-left:24px;">z-score: <select name=zscore_value method="GET" action="/">
                                {% for zscore_ in zscore %}
                                    <option value="{{zscore_}}" {% if zscore_==zscore_value %} selected {% endif %}>{{zscore_}}</option>
                                {% endfor %}
                            </select></label>

                            <label style="padding-left:0px;padding-right:0px;"><input type="checkbox" name="robust" {% if robust=="on" %} checked {% elif robust==".on" %} checked {% endif %}/> Robust</label>
                            <label style="padding-left:76px;padding-right:0px;">Center: <input type="text" name="center" value='{{ center }}' style="width:114px;height:22px;padding-left:4px"></label>
                            <label style="padding-left:0px;padding-right:0px;">Min: <input type="text" name="vmin" value='{{ vmin }}' style="width:114px;height:22px;padding-left:4px"></label>
                            <label style="padding-left:8px;padding-right:0px;">Max: <input type="text" name="vmax" value='{{ vmax }}' style="width:114px;height:22px;padding-left:4px"></label>
                            <label style="padding-left:0px;padding-right:0px;">Color bar label: <input type="text" name="color_bar_label" value='{{ color_bar_label }}' style="width:202px;height:22px;padding-left: 4px"></label>

                            <label style="padding-left:0x;padding-right:4px;">Line width: <input type="text" name="linewidths" value='{{ linewidths }}' style="width:50px;height:22px;padding-left: 4px"></label>
                            <label  style="padding-left:8px">Line color: <select style="width:98px;"name=linecolor_value method="GET" action="/">
                                {% for linecolor_ in linecolor %}
                                    <option value="{{linecolor_}}" {% if linecolor_==linecolor_value %} selected {% endif %}>{{linecolor_}}</option>
                                {% endfor %}
                            </select></label>

                            <!--label style="padding-left:0x;padding-right:4px;width:150px;"><input type="checkbox" name="annotate" {% if annotate=="on" %} checked {% elif annotate==".on" %} checked {% endif %}/> Annotate</label-->

                        </div>
                    </div>
                </div>
            </li>

            {% endif %}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading" style="padding-bottom: 12px;">Management:</div>

            {% if figure_url %}

            <!-- -------------------- FIGURE DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseDownload" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Download file name: <input type="text" name="downloadn" value='{{ downloadn }}' style="width:298px;height:30px;padding-left: 4px">
                            </div>   
                            <div class="row arg">
                                <label> format: <select name=downloadf method="GET" action="/" style="width:50px">
                                    {% for download_format_ in download_format %}
                                        <option value="{{download_format_}}" {% if download_format_==downloadf %} selected {% endif %}>{{download_format_}}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            {% endif %}

            <!-- -------------------- ARGUMENTS DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Arguments</span>
                </a>
                <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Upload arguments file:
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="inputargumentsfile" id="inputargumentsfile" style="width:300px;">
                                        <label class="custom-file-label" for="inputargumentsfile" placeholder="Choose File">{{ inputargumentsfile }}</label>
                                    </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg">
                                <label>Download file name: <input type="text" name="session_argumentsn" value='{{ session_argumentsn }}' style="width:298px;height:30px;padding-left:4px">
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- SESSION DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession" style="padding-top:0px;">
                    <i class="fas fa-fw fa-th" aria-hidden="true"></i>
                    <span>Session</span>
                </a>
                <div id="collapseSession" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Upload session file:
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="inputsessionfile" id="inputsessionfile" style="width:300px;">
                                        <label class="custom-file-label" for="inputsessionfile" placeholder="Choose File">{{ inputsessionfile }}</label>
                                    </div>
                            </div> 

                            {% if filename != "Select file.." %}
                            <div class="row arg">
                                <label>Download file name:<input type="text" style="width:298px;height:30px;padding-left:4px" name="session_downloadn" value='{{ session_downloadn }}'>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            

            <!-- -------------------- SUBMIT ---------------------- -->

            <div style="padding-right: 15px; padding-left: 15px;" >
            <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Submit" />
            </div>
        </form>

                <!-- Divider -->
        <!--hr class="sidebar-divider d-none d-md-block"-->
    </div>
    
      <!-- Sidebar Toggler (Sidebar) -->
      <!-- div class="text-center d-none d-md-inline" -->
        <!-- button class="rounded-circle border-0" id="sidebarToggle"></button -->
      <!-- /div -->

</ul>

{% endblock %}

<!-- -------------------- MAIN BODY AND FIGURE ---------------------- -->

{% block content %}
<div style="margin-left:150px;" id="loading"></div>
<div id="contentready" class="container-fluid">

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Attention</font></h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: coral; color:black" role="alert">{{ message }}</div-->
        {% elif category == "traceback" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Whoops!</font></h6>
            </div>
            <div class="card-body">
                {% autoescape false %}
                {{ message }}
                <br>Something went wrong. Review your input and press <b>Submit</b>.<br><br>We have been notified that something is wrong and will investigate the source of this issue. 
                If you would like help with this particular case please press <b>Ice cream</b> to share your session data and parameters with us.<br>
                <br>
                {% endautoescape %}

                <form id="askforhelp" action="{{ url_for('askforhelp') }}" method="post" enctype="multipart/form-data">
                    <div class="pull-xs-right" style="float:right;">
                        <div class="btn-group" style="float:right;">
                            <button type="submit" class="btn btn-primary" style="float:right;">
                                <i></i> Ice cream
                            </button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

        {% else %}
        <!-- INFORMATION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                {{ message }} 
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: rgb(148,224,153); color:black" role="alert">{{ message }}</div-->
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if table_contents %}

    <div class="tab">
        <button class="tablinks" onclick="openCity(event, 'projection')" id="defaultOpen">Projection</button>
        <button class="tablinks" onclick="openCity(event, 'features')">Features</button>
    </div>

    <div class="table-responsive" style="overflow-y:auto;height:calc(100vh - 260px);">

        <div id="projection" class="tabcontent">
            <h2><br>Projection</h2>

            <table id="listr-table" class="table table-hover">
                <thead>
                    <tr>
                        {% for entry in table_headers %}
                        <th class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort="string">{{entry}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <small class="pull-xs-left text-muted" dir="ltr">Showing top 50 results. Download table to see the complete list of results.</small>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                    {% for entry in table_contents %}
                    <tr>
                        {% for col in entry %}
                        <td class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort-value="{{col}}" title="{{col}}">{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="features" class="tabcontent">
            <h2><br>Features</h2>

            <table id="listr-table" class="table table-hover">
                <thead>
                    <tr>
                        {% for entry in features_headers %}
                        <th class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort="string">{{entry}}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <small class="pull-xs-left text-muted" dir="ltr">Showing top 50 results. Download table to see the complete list of results.</small>
                    </td>
                </tr>
                </tfoot>
                <tbody>
                    {% for entry in features_contents %}
                    <tr>
                        {% for col in entry %}
                        <td class="text-xs-left" style="padding-left:0px;padding-right:8px;" data-sort-value="{{col}}" title="{{col}}">{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
        <div style="padding-left:2px;padding-right:2px;">
            <form action="{{ url_for('pca', download='download') }}" method="get">
                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                    <i class="far fa-file-excel fa-sm text-white-50"></i> Results
                </button>
            </form>
        </div>

        <div style="padding-right: 2px;">
            <form action="{{ url_for('pca', download='scatter') }}" method="get">
                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                    <i class="far fa-chart-bar"></i> iScatter plot
                </button>
            </form>
        </div>

        <div style="padding-left: 2px;padding-right: 2px;">
            <form action="{{ url_for('download', json_type='arg') }}" method="get">
                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                    <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                </button>
            </form>
        </div>

        <div style="padding-left: 2px;">
            <form action="{{ url_for('download', json_type='ses') }}" method="get">
                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                        <i class="fas fa-th fa-sm text-white-50"></i> Session
                </button>
            </form>
        </div>

    </div>
    <!-- </div> -->

    {% endif %}
</div>

<script>
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

<script>
function openCity(evt, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;
  
    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
  
    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
  
    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>

{% endblock %}

{% block in_app_footer %}
<!-- Footer -->
<footer class="sticky-footer bg-white" style="padding-top:0.5;padding-bottom:0.5;">
    <div class="container my-auto" style="padding-top:2;padding-bottom:2;">
        <div class="copyright text-center my-auto" style="padding-top:2;padding-bottom:2;">
        <span>Copyright &copy; Flaski, The Bioinformatics Core Facility of the Max Planck Institute for Biology of Ageing</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
{% endblock %}
