{% extends "base.html" %}

{% block app_title %}

<div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100">
    <h1 class="h3 mb-0 text-gray-800">Violinplot</h1>
</div>

{% endblock %}

{% block apps_dropdown %}
{% for app_ in apps %}
<a class="dropdown-item" href="/{{app_.link}}">{{ app_.name }}</a>
{% endfor %}
{% endblock %}

{% block side_bar_content %}

<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url_for('login') }}">
        <!-- div class="sidebar-brand-icon rotate-n-15"-->
            <!-- i class="fas fa-laugh-wink"--><!-- /i -->
        <!-- /div -->
        <!--div style="padding-right: 0px; padding-left: px;" -->
            <div class="sidebar-brand-icon rotate-n-0">
                <i class="fas fa-dog"></i>
            </div>
        <!--/div-->
        <div class="sidebar-brand-text mx-3">Flaski</div><!--sup>bioinf</sup></div-->
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <div id="" style="overflow-y:auto;height:calc(100vh - 80px);">

        <form action="{{ url_for('violinplot') }}" method="post" enctype="multipart/form-data">

            <!-- -------------------- INPUT FILE SELECTION ---------------------- -->
            <!-- Heading -->
            <div class="sidebar-heading">Input</div>

            <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;" >
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="inputfile" id="inputfile">
                    <label class="custom-file-label" for="inputfile" placeholder="Choose File">{{filename}}</label>
                </div>

            </div>

            {% if filename != "Select file.." %}
            
            <!-- Divider -->
            <hr class="sidebar-divider">


            <!-- -------------------- SELECT COLUMNS THAT WILL BE INCLUDED IN THE PLOT ---------------------- -->
            
                <div class="row" style="padding-right: 15px; padding-left: 15px; padding-bottom: 25px;">
                    
                    <div class="row" style="padding-right:15px;padding-left:13px;padding-top:0px;padding-bottom:10px;">
                        <div class="column" >
                            <div class="sidebar-heading">Data columns:</div>
                            <div style="padding-left:13px;">
                                <select name="vals" method="GET" action="/" class="js-example-basic-multiple" multiple="multiple" tabindex="4" style="width:364px;">
                                    {% for col in cols %}
                                        <option value="{{col}}" {% if col in vals %} selected {% endif %}>{{col}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                {% if vals != [] %}

                <!-- Heading -->
                <div class="sidebar-heading">
                Arguments:
                </div>

                    <!-- -------------------- FIGURE ARGUMENTS ---------------------- -->

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item" style="padding-bottom: 0px;">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                            <i class="fas fa-fw fa-cog"></i>
                            <span>Figure</span>
                        </a>
                        <div id="collapseFigure" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded openmenu">
                                <div class="row arguments">
                                    
                                    <div class="row arg">
                                        <label>Title: <input type="text" name="title" value='{{ title }}' style="width:300px;height:22px;padding-right: 5px"></label>
                                        <label style="padding-right: 4px"> Title size: <select name=title_size_value method="GET" action="/" style="width:50px">
                                            {% for title_size_ in title_size %}
                                                <option value="{{title_size_}}" {% if title_size_==title_size_value %} selected {% endif %}>{{title_size_}}</option>
                                            {% endfor %}
                                        </select></label>
                                    </div>
                                    
                                    <div class="row arg">
                                        <label>Width: <input type="text" name="fig_width" value='{{ fig_width }}' style="width:98px;height:22px;padding-left: 6px"></label>
                                        <label style="padding-left: 6px">Height: <input type="text" name="fig_height" value='{{ fig_height }}' style="width:98px;height:22px;padding-left: 6px"></label>
                                    </div>
                                    
                                    <div class="row arg">
                                        <label style="padding-right:4px;">Default plotting style:
                                        <label style="padding-left:4x;padding-right:4px;"><input type="checkbox" name="default" {% if default=="on" %} checked {% elif default==".on" %} "" {% endif %}/></label>
                                    </div>
                                    
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    <!-- -------------------- ARGUMENTS IF USER SELECTED ONE COLUMN ONLY ---------------------- -->

                    {% if vals|length == 1  or default == "on" %}
                    
                        <li class="nav-item" style="padding-top: 0px;">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                                <i class="fas fa-fw fa-cog"></i>
                                <span>Arguments</span>
                            </a>
                    
                        
                            <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded openmenu">
                                    <div class="row arguments">
                                        

                                        <div class="row arg">
                                            <label style="padding-right:10px;padding-bottom:6px;">Fill color: <select  name=color_value value="{{color_value}}" method="GET" action="/" style="width:90px;padding-right:10px;padding-bottom:6px;">
                                                {% for colors_ in colors %}
                                                <option value="{{colors_}}" {% if colors_==color_value %} selected {% endif %}>{{colors_}}</option>
                                                {% endfor %}
                                                </select></label>
                                        </div>

                                        <div class="row arg" style="padding-bottom:6px;">
                                            <label> ..or, write a fill color name <input type="text" name=color_rgb value="{{color_rgb}}" style="width:300px;height:22px;padding-left: 4px;padding-bottom:6px;">
                                        </div>
                                        
                                        <div class="row arg">
                                            <label style="padding-right:10px;padding-bottom:6px;">Bandwidth: <select
                                            name=bw
                                            value="{{bw}}" method="GET" action="/" style="width:100px;padding-bottom:6px;">
                                            {% for bw_ in bws %}
                                            <option value="{{bws_}}" {% if colors_==bw %} selected {% endif     %}>{{colors_}}</option>
                                            {% endfor %}
                                            </select></label>
                                        </div>
                                        
                                        <div class="row arg">
                                            <label> ...or write the scale factor to compute the bandwith <input type="text" name=bw_float value="{{bw_float}}" style="width:300px;height:22px;padding-left:4px;padding-bottom:6px;"></label>
                                        </div>

                                        <div class="row arg">
                                            <label> Cut: <input type="text" name=cut value="{{cut}}" style="width:90px;height:22px;padding-bottom:6px;"></label>
                                        </div>
                                        
                                        <div class="row arg">
                                            <label style="padding-right:10px;padding-bottom:6px;"> Scale: <select name=scale
                                                val="{{scale}}"  method="GET" action="/" style="width:85px;padding-bottom:6px;padding-left:10px">
                                            {% for scale_ in scales %}
                                            <option value="{{scales_}}" {% if bins_==scale %} selected {% endif %}>{{scale_}}</option>
                                            {% endfor %}
                                            </select></label>
                                        </div>
                                        
                                        <div class="row arg">
                                            <label> Violin width: <input type="text" name= v_width  value="{{v_width}}" style="width:79px;height:22px;padding-bottom:6px;"></label>
                                        </div>

                                        
                                        <div class="row arg">
                                            <label style="padding-right:5px;padding-bottom:6px;"> Orientation: <select name=orientation_value val= "{{orientation}}"
                                                method="GET" action="/" style="width:95px;padding-bottom:6px;">
                                            {% for orientations_ in orientations %}
                                                <option value="{{orientations_}}" {% if orientations_==orientation_value %} selected {% endif %}>{{orientations_}}</option>
                                            {% endfor %}
                                            </select></label>
                                        </div>
                                        
                                        <div class="row arg">
                                            <label> Gridsize: <input type="text" name= gridsize  value="{{gridsize}}" style="width:62px;height:22px;padding-bottom:6px;"></label>
                                        </div>

                                        

                                        <div class="row arg">
                                            <label> Line width: <input type="text" name=linewidth value="{{linewidth}}" style="width:74px;height:22px;padding-bottom:6px;"></label>
                                        </div>
                                        
                                        <div class="row arg">
                                            <label style="padding-bottom:6px;padding-right:5px"> Saturation:  <input type="text" name=saturation value="{{saturation}}"  style="width:75px;height:22px;padding-bottom:6px;"></label>

                                        </div>
                                    
                                        <div class="row arg">
                                            <label style="padding-right:10px;padding-bottom:6px;"> Inner representation:  <select name=inner_value
                                                val= "{{inner_value}}"  method="GET" action="/" style="width:100px;padding-bottom:6px;">
                                            {% for ival_ in inner_values %}
                                                <option value="{{ival_}}" {% if ival_==inner_value %} selected {% endif %}>{{ival_}}</option>
                                            {% endfor %}
                                            </select></label>
                                        </div>

                                        
                                    </div>
                                </div>
                            </div>

                        </li>
                    
                    
                    <!-- -------------------- ARGUMENTS IF USER SELECTED MORE THAN ONE COLUMNS ---------------------- -->
                    {% elif vals|length > 1 or default == "on" %}
                    
                        <!------------ SELECT X, Y and HUE -------------------->
                        
                        <!-- Nav Item - Pages Collapse Menu -->
                        <li class="nav-item" style="padding-bottom: 0px;">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
                                <i class="fas fa-fw fa-cog"></i>
                                <span>Data</span>
                            </a>
                            <div id="collapseFigure" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                <div class="py-2 collapse-inner rounded openmenu">
                                    <div class="row arguments">
                                        
                                            <div class="row">
                                                <div class="sidebar-heading">X values:</div>
                                                <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 15px; padding-bottom: 15px;" >
                                                    <select title=x_vals name=x_vals method="GET" action="/" style="width:300px"> {% for x_val in vals %} <option value="{{x_val}}" {% if x_val==x_vals %} selected {% endif %}>{{x_val}}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="column">
                                                <div class="sidebar-heading" style="padding-left: 6px;">Y values:</div>
                                                <div class="input-group margin-bottom-sm" style="padding-right: 6px; padding-left: 6px; padding-bottom: 15px;" >
                                                    <select name=y_vals method="GET" action="/" style="width:300px">
                                                        {% for y_val in vals %}
                                                        <option value="{{y_val}}" {% if y_val==y_vals %} selected {% endif %}>{{y_val}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="column">
                                                <div class="sidebar-heading" style="padding-left: 6px;">Hue:</div>
                                                <div class="input-group margin-bottom-sm" style="padding-right: 10px; padding-left: 6px; padding-bottom: 15px;" >
                                                    <select name=hue method="GET" action="/" style="width:300px">
                                                        {% for hue_ in vals %}
                                                        <option value="{{hue_}}" {% if hue_==hue %} selected {% endif %}>{{hue_}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </li>

                        
                    
                        <!------------ SELECT PLOT ARGUMENTS WHEN USING X,Y and/or HUE -------------------->
                    
                        <li class="nav-item" style="padding-top: 0px;">
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                                <i class="fas fa-fw fa-cog"></i>
                                <span>Arguments</span>
                            </a>
                    
                        
                            <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                <div class="bg-white py-2 collapse-inner rounded openmenu">
                                    <div class="row arguments">
                                    
                                        <div class="row arg">
                                            <label style="padding-right:10px;padding-bottom:6px;">Palette: <select  name=color_value value="{{palette_value}}" method="GET" action="/" style="width:100px;padding-right:10px;padding-bottom:6px;">
                                            {% for palette_ in palletes %}
                                                <option value="{{palette_}}" {% if palette_==palette_value %} selected {% endif %}>{{palette_}}</option>
                                                {% endfor %}
                                                </select></label>
                                        </div>

                                        <div class="row arg">
                                            <label style="padding-right:10px;padding-bottom:6px;">Fill color: <select  name=color_value value="{{color_value}}" method="GET" action="/" style="width:100px;padding-right:10px;padding-bottom:6px;">
                                                {% for colors_ in colors %}
                                                <option value="{{colors_}}" {% if colors_==color_value %} selected {% endif %}>{{colors_}}</option>
                                                {% endfor %}
                                            </select></label>
                                        </div>

                                        <div class="row arg" style="padding-bottom:6px;">
                                            <label> ..or, write a fill color name <input type="text" name=color_rgb value="{{color_rgb}}" style="width:300px;height:22px;padding-left: 4px;padding-bottom:6px;">
                                        </div>
                                    
                                        <div class="row arg">
                                            <label style="padding-right:10px;padding-bottom:6px;">Bandwidth: <select
                                            name=bw
                                            value="{{bw}}" method="GET" action="/" style="width:100px;padding-bottom:6px;">
                                            {% for bw_ in bws %}
                                            <option value="{{bws_}}" {% if colors_==bw %} selected {% endif     %}>{{colors_}}</option>
                                            {% endfor %}
                                            </select></label>
                                        </div>
                                        
                                        <div class="row arg">
                                            <label> ...or write the scale factor to compute the bandwith <input type="text" name=bw_float value="{{bw_float}}" style="width:300px;height:22px;padding-left:4px;padding-bottom:6px;"></label>
                                        </div>
                                        

                                        <div class="row arg">
                                            <label> Cut <input type="text" name=cut value="{{cut}}" style="width:300px;height:22px;padding-left:4px;padding-bottom:6px;"></label>
                                        </div>
                                    
                                        <div class="row arg">
                                            <label style="padding-bottom:6px;">Scale: <select name=scale val="{{scale}}"  method="GET" action="/" style="width:80px;padding-right:10px;padding-bottom:6px;">
                                            {% for scale_ in scales %}
                                                <option value="{{scales_}}" {% if bins_==scale %} selected {% endif %}>{{scale_}}</option>
                                            {% endfor %}
                                            </select></label>
                                        </div>
                                    
                                        <div class="row arg">
                                            <label style="padding-right:4px;">Scale hue:
                                            <label style="padding-left:4x;padding-right:4px;"><input type="checkbox" name="scale_hue",value=scale_hue {% if scale_hue == True %} checked {% elif scale_hue ==False %} checked {% endif %}/></label>
                                        </div>

                                        <div class="row arg">
                                            <label> Gridsize: <input type="text" name= gridsize  value="{{gridsize}}" style="width:300px;height:22px;padding-left: 4px;padding-bottom:6px;"></label>
                                        </div>
                                    
                                        <div class="row arg">
                                            <label> Violin widht: <input type="text" name= v_width  value="{{v_width}}" style="width:300px;height:22px;padding-left: 4px;padding-bottom:6px;"></label>
                                        </div>

                                        <div class="row arg">
                                            <label style="padding-right:5px;padding-bottom:6px;">Orientation: <select name=orientation_value val= "{{orientation}}" method="GET" action="/" style="width:80px;padding-bottom:6px;">
                                                {% for orientations_ in orientations %}
                                                    <option value="{{orientations_}}" {% if orientations_==orientation_value %} selected {% endif %}>{{orientations_}}</option>
                                                {% endfor %}
                                            </select></label>
                                        </div>

                                        <div class="row arg">
                                            <label style="padding-left:10px;padding-bottom:6px;">Inner representation: <select name=inner_value val= "{{inner_value}}"  method="GET" action="/" style="width:90px;padding-bottom:6px;">
                                                {% for ival_ in inner_values %}
                                                <option value="{{ival_}}" {% if ival_==inner_value %} selected {% endif %}>{{ival_}}</option>
                                                {% endfor %}
                                            </select></label>
                                        </div>
                                        
                                        <div class="row arg">
                                                                    <label style="padding-right:4px;">Split:<label style="padding-left:4x;padding-right:4px;"><input type="checkbox" name="split",value=split {% if split == True %} checked {% elif split ==False %} checked {% endif %}/></label>
                                        </div>
                                        
                                        <div class="row arg">
                                                                    <label style="padding-right:4px;">Dodge:<label style="padding-left:4x;padding-right:4px;"><input type="checkbox" name="dodge",value=dodge {% if dodge == True %} checked {% elif dodge ==False %} checked {% endif %}/></label>
                                        </div>

                                    
                                        <div class="row arg">
                                            <label> Line width: <input type="text" name=linewidth value="{{linewidth}}" style="width:75px;height:22px;padding-left: 20px;padding-bottom:6px;"></label>
                                        </div>
                                    
                                            <div class="row arg">
                                            <label style="padding-bottom:6px;padding-right:5px">Saturation: <input type="text" name=saturation value="{{saturation}}"  style="width:85px;height:22px;padding-left:20px;padding-bottom:6px;"></label>
                                            </div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    
                    
                    {% endif %}
                    
                {% endif %}

            {% endif %}




            {% if figure_url %}
            
            <!-- -------------------- FIGURE DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-download"></i>
                    <span>Figure</span>
                </a>
                <div id="collapseDownload" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Download file name: <input type="text" name="downloadn" value='{{ downloadn }}' style="width:298px;height:30px;padding-left: 4px">
                            </div>
                            <div class="row arg">
                                <label> format: <select name=downloadf method="GET" action="/" style="width:60px">
                                    {% for download_format_ in download_format %}
                                        <option value="{{download_format_}}" {% if download_format_==downloadf %} selected {% endif %}>{{download_format_}}</option>
                                    {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            {% endif %}
            
            
            <!------------------------- Heading ----------------------->
            <div class="sidebar-heading" style="padding-bottom: 12px;">Management:</div>


            <!-- -------------------- ARGUMENTS DOWNLOAD ARGUMENTS ---------------------- -->
            
            

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseArguments" aria-expanded="true" aria-controls="collapseArguments" style="padding-top: 0px;">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Arguments</span>
                </a>
                <div id="collapseArguments" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Upload arguments file:
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="inputargumentsfile" id="inputargumentsfile" style="width:300px;">
                                        <label class="custom-file-label" for="inputargumentsfile" placeholder="Choose File">{{ inputargumentsfile }}</label>
                                    </div>
                            </div>

                            {% if filename != "Select file.." %}
                            <div class="row arg">
                                <label>Download file name: <input type="text" name="session_argumentsn" value='{{ session_argumentsn }}' style="width:298px;height:30px;padding-left:4px">
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </li>


            <!-- -------------------- SESSION DOWNLOAD ARGUMENTS ---------------------- -->

            <li class="nav-item" style="padding-top: 0px;">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession" style="padding-top:0px;">
                    <i class="fas fa-fw fa-th" aria-hidden="true"></i>
                    <span>Session</span>
                </a>
                <div id="collapseSession" class="collapse closedmenu" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded openmenu">
                        <div class="row arguments">

                            <div class="row arg">
                                <label>Upload session file:
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" name="inputsessionfile" id="inputsessionfile" style="width:300px;">
                                        <label class="custom-file-label" for="inputsessionfile" placeholder="Choose File">{{ inputsessionfile }}</label>
                                    </div>
                            </div>

                            {% if filename != "Select file.." %}
                            <div class="row arg">
                                <label>Download file name:<input type="text" style="width:298px;height:30px;padding-left:4px" name="session_downloadn" value='{{ session_downloadn }}'>
                            </div>
                            {% endif %}

                        </div>

                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            

            <!-- -------------------- SUBMIT ---------------------- -->

            <div style="padding-right: 15px; padding-left: 15px;" >
            <input class="btn btn-secondary btn-lg btn-block" type="submit" value="Submit" />
            </div>
        </form>

                <!-- Divider -->
        <!--hr class="sidebar-divider d-none d-md-block"-->
    </div>
    
      <!-- Sidebar Toggler (Sidebar) -->
      <!-- div class="text-center d-none d-md-inline" -->
        <!-- button class="rounded-circle border-0" id="sidebarToggle"></button -->
      <!-- /div -->

</ul>

{% endblock %}

<!-- -------------------- MAIN BODY AND FIGURE ---------------------- -->

{% block content %}
<div class="container-fluid">



    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == "error" %}
        <!-- ATTENTION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Attention</font></h6>
            </div>
            <div class="card-body">
                {{ message }}
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: coral; color:black" role="alert">{{ message }}</div-->
        {% else %}
        <!-- INFORMATION CARD -->
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                {{ message }}
            </div>
        </div>
        <!--div class="alert alert-info" style="background-color: rgb(148,224,153); color:black" role="alert">{{ message }}</div-->
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if figure_url %}
        <div id=""  style="overflow-y:auto;height:calc(100vh - 195px);overflow-x:auto;">
        
            <img src="data:image/png;base64,{{ figure_url }}">

            <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
                
                <div style="padding-right: 2px;">
                    <form action="{{ url_for('violinplot', download='download') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-download fa-sm text-white-50"></i> Figure
                        </button>
                    </form>
                </div>

                <div style="padding-left:2px;padding-right:2px;">
                    <form action="{{ url_for('violinplot', download='data') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="far fa-file-excel fa-sm text-white-50"></i> Data
                        </button>
                    </form>
                </div>

                <div style="padding-left: 2px;padding-right: 2px;">
                    <form action="{{ url_for('download', json_type='arg') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                            <i class="fas fa-cogs fa-sm text-white-50"></i> Arguments
                        </button>
                    </form>
                </div>

                <div style="padding-left: 2px;">
                    <form action="{{ url_for('download', json_type='ses') }}" method="get">
                        <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-th fa-sm text-white-50"></i> Session
                        </button>
                    </form>
                </div>

            </div>
        </div>

    {% endif %}
</div>

{% endblock %}



{% block in_app_footer %}
<!-- Footer -->
<footer class="sticky-footer bg-white" style="padding-top:0.5;padding-bottom:0.5;">
    <div class="container my-auto" style="padding-top:2;padding-bottom:2;">
        <div class="copyright text-center my-auto" style="padding-top:2;padding-bottom:2;">
        <span>Copyright &copy; Flaski, The Bioinformatics Core Facility of the Max Planck Insitute for Biology of Ageing</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
{% endblock %}

