{% extends "base.html" %}

{% block side_bar_content %}

    <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">

    <!-- -------------------- INPUT FILE SELECTION ---------------------- -->
    <!-- Heading -->
    <div class="sidebar-heading">Input</div>

    <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;" >
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="inputfile" id="inputfile">
            <!--label id="inputfilelabel" class="custom-file-label" for="inputfile" placeholder="Choose File"></label-->
            <label class="custom-file-label" for="inputfile" placeholder="Choose File">{{filename}}</label>
        </div>
        <!--span class="input-group-addon"><i class="fa fa-file-o fa-2x" style="padding-right: 6px; padding-left: 6px; padding-top: 2px; padding-bottom: 2px;"></i></span-->
        <!--input class="form-control" type="text" placeholder="input file"-->
    </div>    

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    {% if filename != "Select file.." %}

    <!-- -------------------- SELECT INPUT COLUMNS ---------------------- -->
    <div class="sidebar-heading">X values:</div>
    <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px;" >
        <select title="thing" name=xcols method="GET" action="/" style="width:200px">
            {% for xcol in xcols %}
                <option value="{{xcol}}" {% if xcol==xvals %} selected {% endif %}>{{xcol}}</option>"
            {% endfor %}
        </select>
    </div>

    <div class="sidebar-heading">Y values:</div>
    <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px; padding-bottom: 15px;" >
        <select name=ycols method="GET" action="/" style="width:200px">
            {% for ycol in ycols %}
                <option value="{{ycol}}" {% if ycol==yvals %} selected {% endif %}>{{ycol}}</option>"
            {% endfor %}
        </select>
    </div>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
    Arguments:
    </div>

    <!-- -------------------- FIGURE ARGUMENTS ---------------------- -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" style="padding-bottom: 0px;">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFigure" aria-expanded="true" aria-controls="collapseFigure">
            <i class="fas fa-fw fa-cog"></i>
            <span>Figure</span>
        </a>
        <div id="collapseFigure" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="padding-bottom: 0px;" >
            <div class="bg-white py-2 collapse-inner rounded" style="padding-bottom: 0px;">
                <!--h6 class="collapse-header">Marker arguments:</h6-->
                <div style="padding-right: 20px; padding-left: 20px; padding-bottom: 0px;" >
                    
                    <!-- ARGUMENTS -->
                    <label>Title:<input type="text" name="title" value='{{ title }}' size="20">
                    <label>Title size:<select name=title_size method="GET" action="/" style="width:152px">
                        {% for title_size_ in title_size %}
                            <option value="{{title_size_}}" {% if title_size_==titles %} selected {% endif %}>{{title_size_}}</option>"
                        {% endfor %}
                    </select>

                </div>

            </div>
        </div>
    </li>


    <!-- -------------------- AXES ARGUMENTS ---------------------- -->

    <li class="nav-item" style="padding-top: 0px;">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAxes" aria-expanded="true" aria-controls="collapseAxes" style="padding-top: 0px;">
                <i class="fas fa-fw fa-cog"></i>
                <span>Axes</span>
            </a>
            <div id="collapseAxes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="padding-top: 0px;">
                <div class="bg-white py-2 collapse-inner rounded" style="padding-top: 0px;">
                    <!--h6 class="collapse-header">Marker arguments:</h6-->
                    <div style="padding-right: 20px; padding-left: 20px; padding-top: 0px;" >
                        
                        <!-- ARGUMENTS -->
                        <label>x label:<input type="text" name="xlabel" value='{{ xlabel }}' size="20">
                        <label>x label size:<select name=xlabel_size method="GET" action="/" style="width:152px">
                            {% for xlabel_size_ in xlabel_size %}
                                <option value="{{xlabel_size_}}" {% if xlabel_size_==xlabels %} selected {% endif %}>{{xlabel_size_}}</option>"
                            {% endfor %}
                        </select>
                        <label>y label:<input type="text" name="ylabel" value='{{ ylabel }}' size="20">
                        <label>y label size:<select name=ylabel_size method="GET" action="/" style="width:152px">
                            {% for ylabel_size_ in ylabel_size %}
                                <option value="{{ylabel_size_}}" {% if ylabel_size_==ylabels %} selected {% endif %}>{{ylabel_size_}}</option>"
                            {% endfor %}
                        </select>
    
                    </div>
    
                </div>
            </div>
        </li>


    <!-- -------------------- MARKER ARGUMENTS ---------------------- -->

    <li class="nav-item" style="padding-top: 0px;">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMarker" aria-expanded="true" aria-controls="collapseMarker" style="padding-top: 0px;">
            <i class="fas fa-fw fa-cog"></i>
            <span>Marker</span>
        </a>
        <div id="collapseMarker" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="padding-top: 0px;">
            <div class="bg-white py-2 collapse-inner rounded" style="padding-top: 0px;">
                <!--h6 class="collapse-header">Marker arguments:</h6-->
                <div style="padding-right: 20px; padding-left: 20px; padding-top: 0px;" >
                    
                    <!-- ARGUMENTS -->
                    <label>Shape:<select name=markerstyles method="GET" action="/" style="width:152px">
                        {% for markerstyles_ in markerstyles %}
                            <option value="{{markerstyles_}}" {% if markerstyles_==marker %} selected {% endif %}>{{markerstyles_}}</option>"
                        {% endfor %}
                    </select>
                    <label>Size:<select name=marker_size method="GET" action="/" style="width:152px">
                        {% for marker_size_ in marker_size %}
                            <option value="{{marker_size_}}" {% if marker_size_==markers %} selected {% endif %}>{{marker_size_}}</option>"
                        {% endfor %}
                    </select>

                </div>

            </div>
        </div>
    </li>

    {% endif %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading" style="padding-bottom: 12px;">Management:</div>

    {% if figure_url %}

    <!-- -------------------- DOWNLOAD ARGUMENTS ---------------------- -->

    <li class="nav-item" style="padding-top: 0px;">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseDownload" style="padding-top: 0px;">
                <i class="fas fa-fw fa-download"></i>
                <span>Figure</span>
            </a>
            <div id="collapseDownload" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="padding-top: 0px;">
                <div class="bg-white py-2 collapse-inner rounded" style="padding-top: 0px;">
                    <!--h6 class="collapse-header">Marker arguments:</h6-->
                    <div style="padding-right: 20px; padding-left: 20px; padding-top: 0px;" >
                        
                        <!-- ARGUMENTS -->
                        <!-- label>Download plot:&nbsp&nbsp<input style="padding-left: 20px;" type="checkbox" name="download_check"/ -->
                        <label>Format:<select name=download_format method="GET" action="/" style="width:152px">
                            {% for download_format_ in download_format %}
                                <option value="{{download_format_}}" {% if download_format_==downloadf %} selected {% endif %}>{{download_format_}}</option>"
                            {% endfor %}
                        </select>
                        <label>File name:<input type="text" name="downloadn" value='{{ downloadn }}' size="20">
                        
                    </div>
    
                </div>
            </div>
        </li>

    {% endif %}

    <!-- -------------------- SESSION ARGUMENTS ---------------------- -->

    <li class="nav-item" style="padding-top: 0px;">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSession" aria-expanded="true" aria-controls="collapseSession" style="padding-top: 0px;">
            <i class="fas fa-fw fa-th" aria-hidden="true"></i>
            <span>Session</span>
        </a>
        <div id="collapseSession" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" style="padding-top: 0px;">
            <div class="bg-white py-2 collapse-inner rounded" style="padding-top: 0px;">
                <!--h6 class="collapse-header">Marker arguments:</h6-->
                <div style="padding-right: 20px; padding-left: 20px; padding-top: 0px;" >
                    
                    <!-- ARGUMENTS -->
                    <!--label>Download session:&nbsp&nbsp<input style="padding-left: 20px;" type="checkbox" name="session_download_check"/-->

                    <label>Upload session file:<div class="input-group margin-bottom-sm" style="padding-right: 0px; padding-bottom: 12px;" >
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" name="inputsessionfile" id="inputsessionfile">
                            <!--label id="inputfilelabel" class="custom-file-label" for="inputfile" placeholder="Choose File"></label-->
                            <label class="custom-file-label" for="inputsessionfile" placeholder="Choose File">{{ inputsessionfile }}</label>
                        </div>
                        <!--span class="input-group-addon"><i class="fa fa-file-o fa-2x" style="padding-right: 6px; padding-left: 6px; padding-top: 2px; padding-bottom: 2px;"></i></span-->
                        <!--input class="form-control" type="text" placeholder="input file"-->
                    </div>  
                    {% if filename != "Select file.." %}
                    <label>Download file name:<input type="text" name="session_downloadn" value='{{ session_downloadn }}' size="20">
                    {% endif %}
                    
                </div>

            </div>
        </div>
    </li>

    
    <div style="padding-right: 15px; padding-left: 15px;" >
    <input class="btn btn-secondary btn-lg btn-block" type="submit">
    </div>
    </form>

{% endblock %}

<!-- -------------------- MAIN BODY AND FIGURE ---------------------- -->

{% block content %}

    <!-- INFORMATION CARD -->
    {% if sometext %}
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                {{ sometext }} 
            </div>
        </div>
    {% endif %}

    <!-- ATTENTION CARD -->
    {% if error_message %}
        <div class="card shadow mb-4">
            <div class="card-header py-3", >
                <h6 class="m-0 font-weight-bold text-primary"><font color="red">Attention</font></h6>
            </div>
            <div class="card-body">
                {{ error_message }} 
            </div>
        </div>
    {% endif %}

    {% if figure_url %}
        <div id=""  style="overflow:scroll; width: 1000px; height: 1000px;">
        <img src="data:image/png;base64,{{ figure_url }}">

        <!--div class="d-sm-flex align-items-center justify-content-between mb-4" style="padding-top: 2px;" -->
        <div class="d-sm-flex align-items-center mb-4" style="padding-top: 20px;">
            
            <div style="padding-right: 2px;">
            <form action="{{ url_for('figure') }}" method="post" enctype="multipart/form-data">
                <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" >
                    <i class="fas fa-download fa-sm text-white-50"></i> Figure
                </button>
            </form>
            </div>

            <div style="padding-left: 2px;">
            <form action="{{ url_for('downloadsession') }}" method="post" enctype="multipart/form-data">
            <button type="submit" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-th fa-sm text-white-50"></i> Session
            </button>
            </form>
            </div>

        </div>
        </div>

    {% endif %}

{% endblock %}