{% extends "base.html" %}

{% block side_bar_content %}

    <form action="{{ url_for('index') }}" method="post">

    <!-- Heading -->
    <div class="sidebar-heading">Input</div>

    <div class="input-group margin-bottom-sm" style="padding-right: 15px; padding-left: 15px;" >
        <span class="input-group-addon"><i class="fa fa-file-o fa-2x" style="padding-right: 6px; padding-left: 6px; padding-top: 2px; padding-bottom: 2px;"></i></span>
        <input class="form-control" type="text" placeholder="input file">
    </div>

    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Arguments</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar" >
            <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom arguments:</h6>

            <div style="padding-right: 6px; padding-left: 6px;" >
                <input type="text" name="title" value={{ title }} size="24">
            </div>

            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
            </div>
        </div>
        </li>
    
    <div style="padding-right: 6px; padding-left: 6px;" >
    <input class="btn btn-secondary btn-lg btn-block" type="submit">
    </div>
    </form>

{% endblock %}

{% block content %}
    <p> {{ sometext }} </p>
    {% if figure_url != None %}
    <img src="data:image/png;base64,{{ figure_url }}" >
    {% endif %}
{% endblock %}